.biolog-text {
  padding-top: 5rem;
  &__container {
    padding: 5.3rem 4rem;
  }

  &__title {
    line-height: 120%;
    font-size: 3.2rem;
    margin-bottom: 2.6rem;
  }

  &__desc {
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
