.eco-text {
  padding-top: 5.4rem;
  &__img {
    position: relative;
    border-radius: 5rem;
    overflow: hidden;
    @include mobile {
      height: 31.5rem;
      order: 1;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__container {
    @include mobile {
      gap: 0;
    }
  }

  &__right {
    padding: 7.5rem 5rem;
    padding-bottom: 7.2rem;

    @include mobile {
      padding: 5.5rem 4rem;
    }
  }

  &__desc {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    ul,
    ol {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      li {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
