.history {
  padding-top: 5rem !important;
  &__left {
    padding-left: 10rem;
    padding-top: 9rem;
    padding-right: 7rem;
    padding-bottom: 9.7rem;
  }

  &__title {
    margin-bottom: 3.4rem;
  }
  &__img {
    position: relative;
    border-radius: 5rem;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
