.news-section {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.3rem;

    @include mobile {
      margin-bottom: 3.3rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 3rem;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 3.8rem;
      margin-bottom: 4rem;
    }
  }

  &__btn {
    @include mobile {
      display: none;
    }
    &--mob {
      display: none;
      @include mobile {
        font-size: 2rem;
        display: flex;
        padding: 2.3rem;
        border-radius: 2.2rem;
      }
    }
  }
}

.news-item {
  display: flex;
  background-color: var(--white);
  border-radius: 5rem;
  position: relative;
  @include mobile {
    flex-direction: column;
  }
  &__link {
    &::after {
      content: "";
      position: absolute;
      z-index: 4;
      inset: 0;
    }
  }
  &__img {
    width: 100%;
    max-width: 40rem;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 5rem;
    overflow: hidden;
    min-height: 30rem;
    position: relative;
    transition: max-width 0.3s ease-in;
    will-change: max-width;
    @include mobile {
      max-width: 100%;
      min-height: unset;
      height: 22rem;
      max-height: 100%;
      flex: unset;
      transition: unset;
      will-change: unset;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 3.6rem 4rem;
    @include mobile {
      gap: 1.7rem;
    }
  }
  &__title {
    margin-bottom: 1rem;
    transition: color 0.3s ease-in;

    @include mobile {
      font-size: 2.4rem;
      margin-bottom: 0.9rem;
    }
  }

  @include hover {
    .news-item__title {
      color: var(--accent-blue);
    }
    .news-item__img {
      max-width: 42rem;
    }
  }
  &:focus {
    .news-item__title {
      color: rgba(255, 255, 255, 0.1);
    }
  }
  &:active {
    .news-item__title {
      color: var(--accent-blue);
    }
  }
  &:disabled {
    .news-item__title {
      color: var(--grey-3);
    }
  }
}
