.obtain-per {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 8.6rem;
  padding-bottom: 9.1rem;
  background-color: var(--white);
  border-radius: 5rem;
  overflow: hidden;

  @include mobile {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    margin-bottom: 5.4rem;
  }

  &__title {
    margin-bottom: 4.2rem;
    @include mobile {
      line-height: 0.9;
      margin-bottom: 4.6rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    counter-reset: counter;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 4.4rem;
      @include mobile {
        margin-bottom: 5rem;
      }
    }
  }

  &__item {
    counter-increment: counter;
    grid-column: 6 span;

    padding: 5.4rem 6rem;
    padding-bottom: 5.2rem;
    background: var(--30-black);
    border-radius: 5rem;
    @include mobile {
      padding: 3.6rem 4rem;
      padding-bottom: 3rem;
    }
    &::before {
      content: counter(counter);
      display: block;
      margin-bottom: 1.8rem;
      font-weight: 700;
      font-size: 3rem;
      line-height: 110%;
      color: var(--accent-blue);
      @include mobile {
        font-size: 2.4rem;
        margin-bottom: 1rem;
      }
    }
    &:nth-child(10n + 7) {
      grid-column: 3 span;
    }
    &:nth-child(10n + 8) {
      grid-column: 9 span;
    }
  }

  &__desc {
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    ul,
    ol {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      li {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
