.pair {
  &__item {
    background-color: var(--white);
    padding: 7rem 8rem;
    border-radius: 5rem;
    overflow: hidden;
    @include mobile {
      padding: 4.8rem 4rem;
      padding-right: 3.5rem;
    }
  }
  &__title {
    line-height: 1.2;
    margin-bottom: 2.2rem;

    @include mobile {
      font-size: 3.2rem;
      margin-bottom: 2.4rem;
    }
  }
  &__container {
    @include mobile {
      flex-direction: column;
      gap: 3.8rem;
    }
  }

  &__desc {
    font-size: 2rem;
    @include mobile {
      font-size: 1.8rem;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
