.title1 {
  margin: 0;
  font-weight: 700;
  font-size: 7rem;
  line-height: 100%;
  color: var(--cold-black);

  &--accent {
    color: var(--accent-blue);
  }
}
.title2 {
  margin: 0;
  font-weight: 700;
  font-size: 5rem;
  line-height: 110%;
  color: var(--cold-black);

  &--accent {
    color: var(--accent-blue);
  }
  &--120 {
    line-height: 120%;
  }
}
.title3 {
  margin: 0;
  font-weight: 700;
  font-size: 4rem;
  line-height: 110%;
  color: var(--cold-black);

  &--accent {
    color: var(--accent-blue);
  }
}
.title4 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3rem;
  line-height: 110%;
  color: var(--cold-black);

  &--accent {
    color: var(--accent-blue);
  }
}
.subtitle1 {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  line-height: 110%;
  color: var(--cold-black);
}

.capture1 {
  margin: 0;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 110%;
  color: var(--accent-blue);
}
.capture2 {
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  color: var(--cold-black);

  &--normal {
    font-weight: 400;
  }
}
.desc1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--cold-black);

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    padding-left: 2.7rem;
    li {
      &::marker {
        font-size: 50%;
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.desc2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--cold-black);

  &--150 {
    line-height: 150%;
  }
}

.text-block {
  padding: 7.5rem 8rem;
  background-color: var(--white);
  border-radius: 5rem;

  p {
    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }
  ul,
  ol {
    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
