.working {
  margin-top: 5rem;
  background-color: var(--white);
  border-radius: 5rem;
  padding-top: 9rem;
  @include mobile {
    padding-top: 5rem;
    padding-bottom: 5.8rem;
  }
  &:nth-last-child(2) {
    margin-bottom: 5rem;
  }
  &__title {
    margin-bottom: 4rem;
    @include mobile {
      margin-bottom: 4.2rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: var(--30-black);
    padding: 5.4rem 6rem;
    padding-bottom: 5.2rem;
    border-radius: 5rem;
    @include mobile {
      padding: 3.6rem 4rem;
      padding-bottom: 3.2rem;
    }
  }

  &__capture {
    margin-bottom: 1.8rem;
    @include mobile {
      margin-bottom: 1.9rem;
    }
  }
}
