<section class="hero hero--about">
  <div class="container">
    <div class="hero__content corner-smooth-50">
      <h1 class="title2 hero__title">
        Корпорация <br />
        Smart Technology Solutions
      </h1>
      <p class="capture2 hero__desc">
        Промышленные стоки, Хозяйственно-бытовые стоки Ливневые и талые стоки
      </p>
      <p class="capture2 capture2--normal hero__desc">
        Гарантированная очистка сточных вод до&nbsp;нормативных требований.
        Разработаем эффективные технологические и&nbsp;строительные решения.<br />
        Решим задачи экологического сопровождения.<br />
        Наш сильная сторона&nbsp;- комплексное решение ваших проблем.
      </p>
      <button class="btn-reset btn btn--blue hero__btn">Оставить заявку</button>
    </div>
  </div>
</section>
