<section class="about-objects">
  <div class="container">
    <div class="about-objects__container wblock">
      <div class="wblock__left about-objects__left">
        <div class="about-objects__content">
          <h3 class="title3 about-objects__title">
            Первый объект<br />
            в&nbsp;области очистки
          </h3>
          <p class="desc1 about-objects__desc">
            В&nbsp;2012 году специалистами компании был сдан в&nbsp;эксплуатацию
            первый объект в&nbsp;области очистки промышленных сточных вод,
            положив начало формированию в&nbsp;перспективе основного направления
            производственной деятельности.
          </p>
        </div>
        <div class="about-objects__img">
          <img src="./img/about-objects/01.webp" alt="" />
        </div>
      </div>
      <div class="wblock__right about-objects__right">
        <div class="about-objects__content">
          <h3 class="title3 about-objects__title">
            Полный комплекс услуг&nbsp;&mdash; проектирование, строительство,
            экологические разрешения
          </h3>
          <p class="desc1 about-objects__desc">
            С&nbsp;2015 года ООО &laquo;Корпорация &laquo;Smart Technology
            Solutions&raquo; позиционирует себя, как&nbsp;многопрофильная
            компания в&nbsp;области проектирования, разработки технологических
            решений и&nbsp;строительства очистных сооружений сточных
            вод&nbsp;различного типа, а&nbsp;также, объектов жилой
            и&nbsp;промышленной инфраструктуры. Уровень оказываемых услуг
            в&nbsp;области проектных работ компания резко подняла, став основным
            партнёром Инженерно-Технического Центра &laquo;СКАУТ&raquo;,
            заслуженной компании, известной своими исключительно
            профессиональным и&nbsp;ответственным подходом к&nbsp;делу,
            разработкой и&nbsp;применением интеллектуальных, эффективных
            инженерных решений, применяемых в&nbsp;каждом проекте.
          </p>
        </div>
        <div class="about-objects__img">
          <img src="./img/about-objects/02.webp" alt="" />
        </div>
      </div>
    </div>
    <div
      class="about-objects__container about-objects__container--full wblock wblock--white"
    >
      <div class="wblock__left about-objects__left">
        <div class="about-objects__img">
          <img src="./img/about-objects/03.webp" alt="" />
        </div>
      </div>
      <div class="wblock__right about-objects__right">
        <h3 class="title3 about-objects__title">
          Эффективные технологии<br />
          для очистки производственных, ливневых и&nbsp;хозяйственно-бытовых
          стоков
        </h3>
        <p class="desc1 about-objects__desc">
          ООО &laquo;Корпорация &laquo;STS&raquo; тесно сотрудничает
          с&nbsp;ГК&nbsp;&laquo;Производственное объединение
          &laquo;МЕТТЭМ&raquo;, а&nbsp;с&nbsp;2018 года становится пайщиком
          &laquo;Международного Потребительского Кооператива &laquo;Технологии
          и&nbsp;Решения&raquo;, в&nbsp;рамках взаимодействия с&nbsp;которым
          успешно реализует свои возможности и&nbsp;компетенции в&nbsp;области
          проектирования и&nbsp;строительства очистных сооружений
          и&nbsp;объектов ПГС.ООО &laquo;Корпорация &laquo;STS&raquo;
          совершенствует и&nbsp;внедряет&nbsp;передовые отечественные
          и&nbsp;зарубежные разработки в&nbsp;области эффективных
          технологических решений для очистки промышленных сточных вод, успешно
          реализует комплекс работ в&nbsp;формате&nbsp;- «под ключ».<br />
          Концепция нашей работы: персонифицированный, гибкий подход
          к&nbsp;каждой поставленной задаче для поиска оптимального эффективного
          решения, позволяющего сделать проект рентабельным.
        </p>
      </div>
    </div>
  </div>
</section>
