<section class="biolog-text biolog-mf">
  <div class="container">
    <div class="text-block biolog-text__container">
      <h2 class="title4 title4--accent biolog-text__title">
        Природа создала естественный механизм избавления от&nbsp;загрязняющих
        веществ попавших в&nbsp;воду&nbsp;&mdash; это&nbsp;микроорганизмы.
      </h2>
      <div class="biolog-text__desc desc1">
        <p>
          Некоторые микро организмыспособны расщеплять органические соединения
          до&nbsp;простых веществ&nbsp;&mdash; воды, углекислого газа, метана,
          сероводорода. Органика является источником энергии для бактерий
          и&nbsp;простейших чем больше в&nbsp;сточных водах этих веществ, тем
          интенсивнее размножение микроорганизмов и&nbsp;эффективнее очистка.
        </p>
        <p>
          Метод <b>биологической очистки</b>, применяемый в&nbsp;соору жениях
          очистки сточных вод, это природный процесс, воссозданный
          в&nbsp;искусственных условиях. Этот метод помогает справиться
          со&nbsp;многими загрязнениями попавшими в&nbsp;сточные воды без
          применения дорогостоящих технологий.
        </p>
        <p>
          Метод биологической очистки условно может быть разделён на&nbsp;две
          группы:
        </p>
        <ul>
          <li>
            <b>Естественные (ландшафтные)</b>. Для очистки сточных вод
            используются природные процессы, протекающие в&nbsp;воде, почве,
            растительных экосистемах. Загрязнённые стоки сбрасываются
            на&nbsp;определённые участки ландшафта, удерживаются на&nbsp;нем,
            минерализуются, трансформируются или переносятся. Естественные
            экосистемы используются для доочистки сточных вод перед
            их&nbsp;спуском в&nbsp;водоёмы.
          </li>
          <li>
            Создаются специальные сооружения для применения
            <b>искусственного</b>
            метода очистки. В&nbsp;этих сооружениях помещаются аэробные или
            анаэробные микроорганизмы и&nbsp;создаются благоприятные условия для
            переработки загрязнений.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
