<section class="indus-rating indus-rating--biolog">
  <div class="container">
    <h2 class="title2 title2--accent indus-rating__title">
      Разновидности биологической очистки
    </h2>
    <p class="desc1 indus-rating__subtitle">
      Биологическая очистка сточных вод может происходить с&nbsp;использованием
      двух различных методов&nbsp;&mdash; аэробная и&nbsp;анаэробная
      биологическая очистка. В&nbsp;первом случае процесс протекает
      с&nbsp;помощью кислорода, во&nbsp;втором&nbsp;&mdash; без него.
      В&nbsp;зависимости от&nbsp;использованного метода и&nbsp;строятся очистные
      сооружения.
    </p>
    <h4 class="title4 title4--accent indus-rating__descr">
      Станция биологической очистки или&nbsp;септик?
    </h4>

    <div class="indus-rating__items">
      <div class="indus-rating__item ir-item">
        <p class="title5 title5--accent ir-item__title">Аэробная очистка</p>
        <div class="desc1 ir-item__desc">
          <ul>
            <li>
              Из&nbsp;очищающихся стоков удаляется до&nbsp;99% органических
              загрязнений, соединений азота и&nbsp;фосфора
            </li>
            <li>Необходимо много кислорода</li>
            <li>
              Кислород подаётся принудительно воздуходувками (требует
              электроэнергии)
            </li>
            <li>
              Микроорганизмы, при аэробной очистки, на&nbsp;фоне окисления
              распадаются на&nbsp;углекислый газ, воду и&nbsp;минеральный осадок
            </li>
          </ul>
        </div>
      </div>

      <div class="indus-rating__item ir-item">
        <p class="title5 title5--accent ir-item__title">Анаэробная очистка</p>
        <div class="desc1 ir-item__desc">
          <ul>
            <li>Анаэробный метод достигает&nbsp;85% степени очистки</li>
            <li>Процесс очистки требует углекислый газ и&nbsp;нитраты</li>
            <li>
              При очистке бактерии выделяют метан, поэтому необходима система
              вентиляции
            </li>
            <li>
              Микроорганизмы присутствуют в&nbsp;стоках в&nbsp;малых количествах
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
