<section class="adv">
  <div class="container">
    <div class="adv__container">
      <div class="adv__col">
        <h4 class="title4 title4--accent adv__title">Недостатки метода</h4>
        <div class="adv__item desc1">
          <p>
            Сложность сохранения постоянного количества биомассы бактерий.
            Если&nbsp;их&nbsp;будет меньше нормы, сточные воды не&nbsp;очистятся
            полностью.
          </p>
        </div>
        <div class="adv__item desc1">
          <p>
            В&nbsp;постройку очистных сооружений нужно вложить много денег.
            Но&nbsp;со&nbsp;временем затраты окупаются.
          </p>
        </div>
        <div class="adv__item desc1">
          <p>
            Технологический режим очистки должен строго соблюдаться. При
            нарушениях эффективность метода значительно снижается.
          </p>
        </div>
        <div class="adv__item desc1">
          <p>
            Не&nbsp;все органические соединения подлежат переработке. Если
            в&nbsp;сточных водах есть токсические соединения, их&nbsp;нужно
            удалить, иначе биомасса погибнет.
          </p>
        </div>
      </div>
      <div class="adv__col">
        <h4 class="title4 title4--accent adv__title">Преимущества метода</h4>
        <div class="adv__item desc1">
          <p>
            Малое количество отходов. После переработки образуются вещества
            (углекислый газ, вода), которые легко утилизируются. Если при
            очистке выделяется метан, его используют для получения тепловой
            энергии. Переработанный ил&nbsp;&mdash; хорошее удобрение.
          </p>
        </div>
        <div class="adv__item desc1">
          <p>
            Системы для биологической очистки работают автономно.
            Для&nbsp;их&nbsp;обслуживания не&nbsp;нужно вводить реагенты,
            а&nbsp;с&nbsp;контролем процесса справится 1&nbsp;человек.
          </p>
        </div>
        <div class="adv__item desc1">
          <p>
            Стоимость реализации биотехнологий ниже, чем на&nbsp;другие способы
            очистки воды.
          </p>
        </div>
        <div class="adv__item desc1">
          <p>
            Естественные реакции создают экологически чистый цикл природного
            использования.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
