<section class="ssingle-dev ssingle-dev--new ssingle-dev--listpad">
  <div class="container">
    <div class="ssingle-dev__content corner-smooth-50">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Для анаэробной очистки чаще всего используют такие сооружения:
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <ul>
          <li>
            Анаэробная лагуна&nbsp;&mdash; отстойник, в&nbsp;котором стоки
            находятся от&nbsp;1&nbsp;недели до&nbsp;2&nbsp;месяцев. Газы
            выбрасываются в&nbsp;атмосферу.
          </li>
          <li>
            Септитенк&nbsp;&mdash; отстойник закрытого типа, в&nbsp;котором
            осадок из&nbsp;образовавшихся твёрдых частиц перегнивает
            и&nbsp;расщепляется анаэробами.
          </li>
          <li>
            Метантенк&nbsp;&mdash; конструкция, внешне похожая
            на&nbsp;септитенк. Но&nbsp;в&nbsp;резервуаре происходит
            перемешивание, обогрев и&nbsp;контроль основных параметров.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
