<section class="onaer">
  <div class="container">
    <div
      class="wblock wblock--white wblock--75 onaer__container corner-smooth-50"
    >
      <div class="wblock__left onaer__content">
        <div class="onaer__text">
          <h3 class="title3 onaer__title">
            Технология применения анаэробной очистки сточных&nbsp;вод
          </h3>
          <div class="desc1 onaer__desc">
            <p>
              Этот метод очистки сточных вод имеет смысл применять, когда
              в&nbsp;стоках присутствует большое количество органических
              загрязнений, твёрдых осадков и&nbsp;активного&nbsp;ила.
              В&nbsp;ходе метагенеза (анаэробная очистка) загрязняющие вещества
              конвертируются в&nbsp;биогаз&nbsp;&mdash; метан и&nbsp;углекислый
              газа.
            </p>
          </div>
        </div>
        <div class="onaer__text">
          <h3 class="title4 onaer__title onaer__title--small">
            Классическая схема анаэробной очистки:
          </h3>
          <div class="desc1 onaer__desc">
            <ul>
              <li>
                Загрязнённая вода поступает в&nbsp;отсек, где происходит
                метановое брожение. Взаимодействия анаэробных бактерий
                с&nbsp;загрязняющими веществами образует метан, углекислый газ,
                сероводород. Эти газы должны утилизируются.
              </li>
              <li>
                После брожения осадок поступает в&nbsp;следующий отсек, где
                происходит обезвоживание ила в&nbsp;центрифуге. Затем очищенная
                вода сбрасывается в&nbsp;водоём.
              </li>
              <li>
                Ил&nbsp;обезвоживается и&nbsp;поступает в&nbsp;барабанную
                сушилку. Выделившуюся воду утилизируют.
              </li>
              <li>
                Сухой ил&nbsp;обеззараживается и&nbsp;становится материалом для
                компостирования.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="wblock__right onaer__img corner-smooth-50">
        <picture>
          <source
            srcset="./img/onaer/01-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/onaer/01.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="onaer">
  <div class="container">
    <div
      class="wblock wblock--white wblock--75 onaer__container onaer__container--reverse corner-smooth-50"
    >
      <div class="wblock__left onaer__content">
        <div class="onaer__text">
          <h3 class="title3 onaer__title">
            Технология применения аэробной очистки сточных вод
          </h3>
          <div class="desc1 onaer__desc">
            <p>
              Реактивным элементом выступает активный ил&nbsp;или
              биопленка&nbsp;&mdash; это заданная совокупность бактерий, грибов,
              простейших, представителей микрофауны.
            </p>
          </div>
        </div>
        <div class="onaer__text">
          <h3 class="title6 onaer__title onaer__title--small">
            Классическая схема аэробной очистки:
          </h3>
          <div class="desc1 onaer__desc">
            <ul>
              <li>
                Сточные воды подаются в&nbsp;анаэробную зону аэротенка
                вторичного отстойника. Происходит перемешивание поступивших
                стоков с&nbsp;активным илом.
              </li>
              <li>
                Механическим способом происходит подача кислорода, если
                необходимо, вводятся компоненты, ускоряющие переработку
                загрязняющих вешеств.
              </li>
              <li>
                Одновременно проходит несколько биохимических процессов:
                окисление органического углерода и&nbsp;нитрификация.
              </li>
              <li>
                Далее происходит несколько рециклов: воды снова перемешиваются
                с&nbsp;активным илом и&nbsp;обогащаются кислородом.
              </li>
              <li>
                Стоки отстаиваются&nbsp;&mdash; происходит гравитационное
                (осаживается) разделение иловой смеси.
              </li>
              <li>
                Часть массы избыточного ила возвращается на&nbsp;исходную
                позицию, остальной ил&nbsp;утилизируется или перерабатывается.
              </li>
              <li>
                Вода прошедшая очистку, в&nbsp;зависимости от&nbsp;поставленной
                задачи, или поступают на&nbsp;дальнейшую доочистку или
                спускаются в&nbsp;водоём.
              </li>
            </ul>
            <p>
              Этапы очистки могут отличаются в&nbsp;разных технологических
              схемах, но&nbsp;суть метода остаётся тем&nbsp;же.
            </p>
          </div>
        </div>
      </div>
      <div class="wblock__right onaer__img corner-smooth-50">
        <picture>
          <source
            srcset="./img/onaer/02-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/onaer/02.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
