<section class="ssingle-dev ssingle-dev--listpad">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Для искусственной аэробной очистки чаще всего используют такие
        сооружения:
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <ul>
          <li>
            Аэротенк это ёмкость, в&nbsp;котором загрязнённые стоки смешиваются
            с&nbsp;активным илом. Резервуар разделён на&nbsp;несколько камер,
            где происходят разные этапы биоочистки, так&nbsp;же он&nbsp;оснащён
            аэратором&nbsp;&mdash; системой подачи кислорода.
          </li>
          <li>
            Биотенк&nbsp;&mdash; это разновидность аэротенков, специальная
            загрузка позволяет увеличить общее количество биомассы.
          </li>
          <li>
            Биофильтр&nbsp;&mdash; это бассейн в&nbsp;котором устроен дренаж
            на&nbsp;днище. Очистка стоков происходит путём минерализации.
          </li>
          <li>
            Может применяться станция биологической очистки&nbsp;&mdash; это
            локальное очистное сооружение (ЛОС), которое устанавливается там,
            где нет возможности провести общесплавную канализацию. Очищенные
            стоки спускаются в&nbsp;грунт, а&nbsp;отходы используются
            в&nbsp;качестве удобрения.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
