<section class="const-doing">
  <div class="container">
    <div
      class="const-doing__container wblock wblock--white wblock--2 corner-smooth-50"
    >
      <div class="wblock__left const-doing__left">
        <h2 class="title3 const-doing__title">Что&nbsp;мы&nbsp;делаем:</h2>
        <div class="desc1 const-doing__desc">
          <ol class="list-reset">
            <li>1. Осуществляем строительство зданий и&nbsp;сооружений;</li>
            <li>2. Осуществляем поставку Технологического оборудования;</li>
            <li>
              3. В&nbsp;случае необходимости разрабатываем и&nbsp;производим
              технологическое оборудование в индивидуальном порядке;
            </li>
            <li>4. Проводим пуско-наладочные работы.</li>
          </ol>
        </div>
      </div>
      <div class="wblock__right const-doing__img corner-smooth-50">
        <picture>
          <source
            srcset="./img/const-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/const.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
