<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="cta__content">
        <h2 class="title2 cta__title">Закажите бесплатную консультацию</h2>
        <form action="#" class="form cta__form">
          <div class="form__row">
            <div class="form__field">
              <input
                type="text"
                id="input-name1"
                name="Имя"
                class="form__input input-name"
              />
              <label for="input-name1">Ваше имя</label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field">
              <input
                type="tel"
                id="input-tel1"
                name="Телефон"
                class="form__input input-tel"
              />
              <label for="input-tel1">Ваш номер&nbsp;телефона</label>
            </div>
          </div>
          <button class="btn-reset btn form__btn" disabled>
            Перезвоните&nbsp;мне
          </button>
          <small>
            Заполняя форму выше, вы&nbsp;соглашаетесь <br />
            с&nbsp;политикой конфиденциальности данного веб-сайта
          </small>
        </form>
      </div>
      <div class="cta__img">
        <picture>
          <source
            srcset="./img/cta-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/cta.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
