<section class="des-types">
  <div class="container">
    <div class="des-types__container">
      <h2 class="title2 title2--accent title2--120 des-types__title">
        Типовые и&nbsp;индивидуальные решения
      </h2>
      <div class="des-types__desc capture2 capture2--normal">
        <p>
          Вне зависимости от&nbsp;того, типовые или
          <b>индивидуальные</b> решения применяются в&nbsp;проектировании
          очистных сооружений, проектная документация разрабатывается
          в&nbsp;соответствии с&nbsp;Постановлением Правительства РФ
          &#8470;&nbsp;87&nbsp;от&nbsp;16.02. 2008&nbsp;г. "О&nbsp;составе
          разделов проектной документации и&nbsp;требованиях
          к&nbsp;их&nbsp;содержанию".
        </p>
        <p>
          Как правило, каждый производственный сток
          <b>индивидуален</b> по&nbsp;своему составу, поэтому проектное решение
          для&nbsp;ОС производственных стоков&nbsp;&mdash; всегда
          <b>индивидуальное решение</b>.
        </p>
        <p>
          <b>Типовые</b>, наработанные решения применяются для очистки
          хозяйственно-бытовых и&nbsp;ливневых сточных вод.
        </p>
      </div>
    </div>
  </div>
</section>
