<section class="ssingle-per">
  <div class="container">
    <div
      class="ssingle-per__container wblock wblock--white wblock--84 corner-smooth-50"
    >
      <div class="ssingle-per__content wblock__left">
        <h2 class="title3 ssingle-per__title">
          Основной перечень мероприятий, проводимый в&nbsp;процессе
          проектирования:
        </h2>
        <div class="desc1 ssingle-per__desc">
          <ul>
            <li>
              Предпроектная подготовка&nbsp;— анализ информации, полученной
              от&nbsp;Заказчика;
            </li>
            <li>
              Проведение обследования&nbsp;— аудит объекта, источников
              СВ&nbsp;(целесообразно в&nbsp;процессе подготовки ТЗ);
            </li>
            <li>
              Подготовка ТЗ&nbsp;на&nbsp;проектирование, утверждение
              его&nbsp;Заказчиком;
            </li>
            <li>
              Разработка технологии очистки СВ&nbsp;на&nbsp;основе полученных
              лабораторных исследований, существующих
              СВ&nbsp;или&nbsp;предполагаемого состава СВ, результатов аудита,
              т.е. разработка раздела проектной документации «Технологические
              решения»;
            </li>
            <li>
              Вариантная проработка технических решений по&nbsp;строительству
              и&nbsp;монтажу очистных сооружений с&nbsp;расчётом предварительной
              стоимости и&nbsp;сроков реализации;
            </li>
            <li>
              Проведение инженерных изысканий в&nbsp;объёме необходимом
              для&nbsp;проектирования;
            </li>
            <li>
              Разработка Проектной документации в&nbsp;соответствии
              с&nbsp;Постановлением Правительства
              РФ&nbsp;№&nbsp;87&nbsp;от&nbsp;16.02.2008&nbsp;г. "О&nbsp;составе
              разделов проектной документации и&nbsp;требований
              к&nbsp;их&nbsp;содержанию";
            </li>
            <li>
              Техническое сопровождение в&nbsp;строительной экспертизе проектной
              документации очистных сооружений в&nbsp;соответствии ГОСТ
              21.1101-2013 "Основные требования к&nbsp;проектной и&nbsp;рабочей
              документации ".
            </li>
          </ul>
        </div>
      </div>
      <div class="ssingle-per__img wblock__right corner-smooth-50">
        <picture>
          <source
            srcset="./img/designing-plant-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/designing-plant.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
