<section class="ssingle-razr">
  <div class="container">
    <div class="ssingle-razr__container">
      <div class="ssingle-razr__left corner-smooth-50">
        <div class="ssingle-razr__img corner-smooth-50">
          <picture>
            <source
              srcset="./img/dev-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <img src="./img/dev.webp" alt="" />
          </picture>
        </div>
        <div class="ssingle-razr__content">
          <p class="title3 ssingle-razr__title">
            Разработка Технологической схемы Подбор оборудования
          </p>
          <div class="ssingle-razr__desc desc1">
            <p>
              В&nbsp;процессе реализации проектных работ, на&nbsp;основе
              результатов анализа полученной информации, результатов аудита
              источников&nbsp;СВ предприятия&nbsp;&mdash; разрабатывается
              Технологическая схема очистки&nbsp;СВ и&nbsp;регламент работы
              очистных сооружений.
            </p>
            <p>
              Технологическая схема включает в&nbsp;себя укрупнённый перечень
              состава оборудования и&nbsp;позволяет обосновать стоимость
              строительства (реконструкции) очистных сооружений. Разработанная
              схема согласовывается с&nbsp;Заказчиком.
            </p>
          </div>
        </div>
      </div>
      <div class="ssingle-razr__right corner-smooth-50">
        <div class="ssingle-razr__content">
          <p class="title3 ssingle-razr__title">
            Разработка проектной и&nbsp;сметной документации
            на&nbsp;строительство очистных сооружений
          </p>
          <div class="desc1 ssingle-razr__desc">
            <p>
              После утверждения Заказчиком Технологической схемы,
              разрабатывается проектная документация стадии &laquo;П&raquo;
              в&nbsp;соответствии с&nbsp;Постановлением Правительства РФ
              &#8470;&nbsp;87&nbsp;от&nbsp;16.02. 2008&nbsp;г.
              &laquo;О&nbsp;составе разделов проектной документации
              и&nbsp;требований к&nbsp;их&nbsp;содержанию&raquo;.
            </p>
            <p>
              При необходимости прохождения Государственной строительной
              экспертизы или пожелания Заказчика, разрабатывается сметная
              документация ресурсным методом или на&nbsp;основании федеральных
              единичных расценок (ФЕР), территориальных единичных расценок
              (ТЁР).
            </p>
            <p>
              Подготавливается и&nbsp;утверждается у&nbsp;Заказчика
              проектно-сметная документация на&nbsp;строительство очистных
              сооружений.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
