<section class="ssingle-exp">
  <div class="container">
    <div
      class="wblock wblock--2 wblock--white ssingle-exp__container corner-smooth-50"
    >
      <div class="wblock__left ssingle-exp__img corner-smooth-50">
        <picture>
          <source
            srcset="./img/exp-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/exp.webp" alt="" />
        </picture>
      </div>
      <div class="wblock__right ssingle-exp__content">
        <h2 class="title3 ssingle-exp__title">
          Строительная экспертиза проектной документации
        </h2>
        <div class="desc1 ssingle-exp__desc">
          <p>
            Результаты инженерных изысканий, проектная документация объектов
            капитального строительства, линейных объектов подлежат
            государственной или&nbsp;негосударственной строительной экспертизе.
            <br />
            Цель строительной экспертизы&nbsp;&mdash; подтвердить соответствие
            документации требованиям и&nbsp;нормам, установленным законом.<br />
            Наши специалисты осуществляют техническое сопровождение результатов
            проектирования как в&nbsp;негосударственной, так
            и&nbsp;в&nbsp;государственной строительной экспертизе.<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
