<section class="service-func service-func--fiz">
  <div class="container">
    <div class="service-func__container service-func__container--reverse">
      <div class="service-func__content">
        <h2 class="title3 service-func__title">
          Физические и&nbsp;химико-биологические характеристики бытовой
          канализации:
        </h2>
        <div class="desc1 service-func__desc">
          <ul>
            <li>
              Характерный запах фекалий, непрозрачные, серовато-белесого цвета.
            </li>
            <li>
              В&nbsp;составе присутствуют минеральные и&nbsp;органические
              вещества.
            </li>
            <li>Частично коллоидное состояние раствора.</li>
            <li>
              Содержат, в&nbsp;большом количестве, патогенные микробы, бактерии,
              вирусы, грибки, гнили, плесень, дрожжи, гельминты.
            </li>
            <li>
              Кислотность выше нейтральной&nbsp;&mdash; рН&nbsp;7,2&ndash;7,8.
            </li>
          </ul>
          <p>
            Из&nbsp;органических загрязняющих веществ наибольшую опасность
            представляют грибки, бактерии и&nbsp;гельминты.
            Из&nbsp;неорганических веществ особый вред экологии наносят соли,
            входящие в&nbsp;состав чистящих и&nbsp;моющих средств бытовой химии.
          </p>
        </div>
      </div>
      <div class="service-func__img">
        <img src="./img/domestic-phis.webp" alt="" />
      </div>
    </div>
  </div>
</section>
