<section class="ssingle-dev">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Формирование хозяйственно-бытовых сточных&nbsp;вод
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          В&nbsp;результате жизнедеятельности людей образуются хозяйственные
          и&nbsp;бытовые сточные воды. Хозяйственно-бытовые стоки это
          загрязнённая вода, которая образуется после того, как человек умоется
          или примет душ, почистит зубы, сходит в&nbsp;туалет.
        </p>
        <p>
          Так&nbsp;же, стоки грязной воды образуются при приготовлении пищи,
          мойке продуктов и&nbsp;посуды, стирке белья, мойке полов и&nbsp;т.п.
          Эти стоки отводятся по&nbsp;системе общественной канализации.
        </p>
        <p>
          Хозяйственно&nbsp;&mdash; бытовые стоки бывают фекальные
          и&nbsp;хозяйственные. Их&nbsp;состав: коллоидные растворы
          и&nbsp;нерастворенная в&nbsp;воде органика.
        </p>
        <p>
          Так&nbsp;же источникам сточных вод могут быть результаты работы любых
          предприятий общественного питания, детских и&nbsp;лечебных учреждений,
          предприятий торговли, всех иных мест, где есть значительное скопление
          народа.
        </p>
        <p>Бытовые стоки содержат 45&ndash;58% органических веществ.</p>
      </div>
    </div>
  </div>
</section>
