<section class="domestic-comp">
  <div class="container">
    <h2 class="title2 title2--accent domestic-comp__title">
      Состав хозбытовых стоков
    </h2>
    <div class="desc1 domestic-comp__desc">
      <p>
        Загрязнённые хозяйственно-бытовые воды содержат в&nbsp;большем или
        меньшем количестве многие вещества. Находящиеся в&nbsp;сточных водах
        твёрдые вещества различаются по&nbsp;размеру, от&nbsp;крупных
        механических примесей в&nbsp;несколько сантиметров
        до&nbsp;полурастворенных и&nbsp;растворённых веществ. Эти вещества
        находятся во&nbsp;взвешенном состоянии, от&nbsp;крупных песчинок
        до&nbsp;мельчайших взвесей.
      </p>
      <p>
        Состав хозбытовых сточных водах,&nbsp;&mdash; это&nbsp;58% органические
        вещества, т.&nbsp;е. продукты живой природы, остальные&nbsp;42% являются
        неорганическими (песок, глина, и&nbsp;т.п.).
      </p>
      <p>
        Все органические вещества спустя какое‑то время разлагаются. Осадок,
        состоящий преимущественно из&nbsp;органических веществ, превращается
        вскоре в&nbsp;гниющую массу с&nbsp;очень неприятным запахом. При этом
        не&nbsp;только осадок, но&nbsp;и&nbsp;находящаяся над ним мутная вода
        вскоре начинают загнивать и&nbsp;выделять очень неприятный запах.
      </p>
      <p>
        В&nbsp;такой воде остаётся ещё определённое количество разлагающихся
        органических веществ. Если пропустить эту воду через тонкий фильтр,
        то&nbsp;полурастворенные вещества осядут на&nbsp;фильтре,
        а&nbsp;полученная в&nbsp;результате фильтрования вода будет прозрачной,
        но&nbsp;через некоторое время от&nbsp;неё опять начинает исходить
        неприятный тухлый запах.
      </p>
      <p>
        Это доказывает, то&nbsp;что даже растворённые вещества, являются
        органического происхождения, вследствие чего они разлагаются. Эти опыты
        показывают, что очистка сточных вод&nbsp;не&nbsp;ограничивается только
        выделением осадков, то&nbsp;есть отстаиванием. В&nbsp;отстоянной воде
        остаются ещё органические вещества, и&nbsp;даже в&nbsp;результате
        последующей очистки не&nbsp;удаётся получить воду, которая
        не&nbsp;содержала&nbsp;бы веществ, вызывающих гниение.
      </p>
    </div>
    <div class="domestic-comp__table">
      <div class="domestic-comp__left">
        <p class="title4 title4--accent domestic-comp__capture">Показатель</p>

        <div class="domestic-comp__item desc1">Взвешенные вещества</div>
        <div class="domestic-comp__item desc1">
          БПК полн. неосветленной жидкости
        </div>
        <div class="domestic-comp__item desc1">
          ВПК полн. осветлённой жидкости
        </div>
        <div class="domestic-comp__item desc1">
          Азот аммонийных солей&nbsp;N
        </div>
        <div class="domestic-comp__item desc1">Фосфаты Р205</div>
        <div class="domestic-comp__item desc1">
          В&nbsp;том числе от&nbsp;моющих веществ
        </div>
        <div class="domestic-comp__item desc1">Хлориды&nbsp;CI</div>
        <div class="domestic-comp__item desc1">
          Поверхностно-активные вещества (ПАВ)
        </div>
      </div>
      <div class="domestic-comp__right">
        <p class="title4 title4--accent domestic-comp__capture">
          Количество загрязняющих веществ на&nbsp;одного жителя, г/сут.
        </p>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          65,0
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          75,0
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          40,0
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          8,0
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          3,3
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          1,6
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          9,0
        </div>
        <div class="domestic-comp__item desc1 domestic-comp__item--value">
          2,5
        </div>
      </div>
    </div>
  </div>
</section>
