<section class="ssingle-dev ssingle-dev--new">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">Паспорта отходов</h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Современное законодательство об&nbsp;охране окружающей среды требует
          оформлять паспорт отходов для мусора, имеющего в&nbsp;своём составе
          опасные вещества. Он&nbsp;позволяет осуществлять транспортировку,
          утилизацию, переработку и&nbsp;иные манипуляции с&nbsp;таким
          утилем.<br />
          Разработка любого паспорта отхода ведётся по&nbsp;плану
          и&nbsp;в&nbsp;соответствии с&nbsp;прописанным в&nbsp;законе
          алгоритмом. Это позволяет добиться единообразия паспортизации
          на&nbsp;территории России. Наличие единого бланка делает действия
          с&nbsp;таким мусором максимально безопасными, позволяет оперативно
          подобрать подходящую для&nbsp;него форму утилизации.
        </p>
      </div>
    </div>
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Что&nbsp;такое паспорт отходов?
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Постановление Правительства РФ&nbsp;от&nbsp;16&nbsp;августа 2013 года
          за&nbsp;номером 712 &laquo;О&nbsp;порядке проведения паспортизации
          отходов I&ndash;IV классов опасности&raquo;, вступившее в&nbsp;силу
          в&nbsp;начале августа 2014&nbsp;года, описывает, каким должен быть
          единый паспорт отхода. Оно предписывает оставлять его на&nbsp;основе
          единого госкадастра, в&nbsp;котором описывается, к&nbsp;какому
          конкретному классу опасности для окружающей среды принадлежит тот или
          иной мусор, который вывозится на&nbsp;свалку.<br />
          Для каждого вида мусора оформляются отдельные санитарные паспорта
          на&nbsp;производственные отходы. Цена оформления зависит
          от&nbsp;количества производственных остатков на&nbsp;предприятии
          и&nbsp;количества вида отходов, установленных действующим
          классификатором.<br />
          Паспортизация позволяет выполнять установленные Росприроднадзором
          правила и&nbsp;предписания по&nbsp;утилизации опасного для окружающей
          среды утиля и&nbsp;производственного брака, упрощает сортировку
          остатков производственной, сервисной и&nbsp;бытовой деятельности
          человека.<br />
          Предприятия, работающие с&nbsp;веществами 1&ndash;4 класса опасности
          обязаны проводить паспортизацию мусора, отправляемого
          на&nbsp;полигоны.<br />
          Сопроводительный паспорт, который требуется для перевозки отходов,
          оформляется по&nbsp;официальной классификации ФККО на&nbsp;едином
          бланке. Если используемое сырьё не&nbsp;обнаружено в&nbsp;действующем
          классификаторе, то&nbsp;для подтверждения отнесения вида отходов
          к&nbsp;конкретному классу опасности нужно написать обращение
          в&nbsp;Росприроднадзор, в&nbsp;котором разрабатывается
          по&nbsp;специальному модулю паспортизации, соответствующий классу
          опасности отходов. В&nbsp;модуль входят:
        </p>
        <ul>
          <li>
            подробный список используемых отходов, для которых требуется
            паспортизация;
          </li>
          <li>
            указываются методы необходимых исследований, без которых нельзя
            оформить паспорт;
          </li>
          <li>проводится сбор&nbsp;образцов отходов;</li>
          <li>
            организуется их&nbsp;исследование в&nbsp;оборудованных лабораториях;
          </li>
          <li>
            проводится согласование составленного паспорта
            в&nbsp;Росприроднадзоре.
          </li>
        </ul>
        <p>Согласование является обязательным для любого вида паспорта.</p>
      </div>
    </div>
  </div>
</section>
