<section class="ssingle-dev ssingle-dev--new">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">Проект&nbsp;ССЗ</h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Практически у&nbsp;всех предприятий на&nbsp;сегодняшний день
          существует санитарно-защитная зона (далее&nbsp;&mdash;
          СЗЗ)&nbsp;&mdash; специально выделенная территория, отделяющая здания
          и&nbsp;сооружения производственного предприятия, технологические
          процессы которого оказывают воздействие на&nbsp;здоровье и&nbsp;среду
          обитания человека, от&nbsp;жилых застроек.
        </p>
        <p>
          Предназначение СЗЗ&nbsp;&mdash; защита людей от&nbsp;вредных
          производственных факторов, таких как пыль, шум, вредные выбросы,
          промышленное загрязнение. Обоснованием уровня воздействия
          технологических процессов на&nbsp;окружающую среду является проект
          СЗЗ.
        </p>
        <p>
          Разработка проекта СЗЗ является востребованной организациями услугой,
          так как на&nbsp;текущий день существует дефицит свободных земель
          в&nbsp;городских пределах. За&nbsp;отсутствие проекта СЗЗ или
          неправильно разработанный проект хозяйствующий субъект может быть
          привлечён к&nbsp;административной ответственности.
        </p>
      </div>
    </div>
  </div>
</section>
