<section class="ssingle-dev ssingle-dev--pad">
  <div class="container">
    <div class="ssingle-dev__content corner-smooth-50">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Разработка и&nbsp;согласование проектов ПДВ (НДВ)
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Проект ПДВ представляет собой природоохранную документацию предприятия
          или организации, в&nbsp;рамках разработки которой промышленная
          площадка (объект негативного воздействия на&nbsp;окружающую среду)
          рассматривается с&nbsp;точки зрения создаваемого загрязнения
          атмосферного воздуха.
        </p>
        <p>
          В&nbsp;проекте ПДВ составляется характеристика юридического лица как
          источника загрязнения атмосферы на&nbsp;основе инвентаризации
          стационарных источников выбросов загрязняющих веществ
          в&nbsp;атмосферный воздух (которая как правило выполняется
          в&nbsp;рамках проекта), анализируются концентрации загрязняющих
          веществ на&nbsp;границе ближайших нормируемых территорий (жилые дома,
          санитарно-защитная зона и&nbsp;т.д.), определяются нормативы ПДВ,
          разрабатываются мероприятия по&nbsp;регулированию выбросов при
          неблагоприятных метеорологических условиях (НМУ), формируется
          план-график контроля соблюдения нормативов ПДВ.
        </p>
        <p>
          Основной задачей проекта ПДВ является установление таких ПДВ, чтобы
          максимальная приземная концентрация по&nbsp;всем веществам,
          выбрасываемым юридическим лицом в&nbsp;атмосферу, не&nbsp;превышала
          санитарно-гигиенических нормативов (в&nbsp;том числе с&nbsp;учётом
          фоновой концентрации загрязняющих веществ формируемых сторонними
          предприятиями).
        </p>
      </div>
    </div>
  </div>
</section>
