<section class="eco-invent">
  <div class="container">
    <div class="eco-invent__container">
      <div class="eco-invent__content">
        <h2 class="title3 eco-invent__title">
          Инвентаризация по&nbsp;выбросам
        </h2>
        <div class="desc1 eco-invent__desc">
          <p>
            Для выработки решения, гарантирующего достижение требуемых
            параметров очищенных сточных вод&nbsp;выполняются следующие работы:
          </p>
          <ul>
            <li>
              подготовка, совместно с&nbsp;Заказчиком, Технического задания
              на&nbsp;разработку технологического процесса очистки сточных вод;
            </li>
            <li>
              изучение, инвентаризация, классификация источников образования
              загрязнений в&nbsp;результате производственных процессов
              предприятия&nbsp;&mdash; производственных, хозяйственно-бытовых
              и&nbsp;ливневых стоков;
            </li>
            <li>отбор проб, проведение лабораторного анализа сточных вод;</li>
            <li>
              разработка принципиального технологического решения для&nbsp;ОС;
            </li>
            <li>
              подтверждение в&nbsp;лабораторных условиях выбранного
              технологического решения по&nbsp;очистке стоков;
            </li>
            <li>
              согласование с&nbsp;Заказчиком, подтверждённого испытаниями,
              технологического решения способа очистки;
            </li>
            <li>
              определение принципиального состава технологического оборудования;
            </li>
            <li>
              утверждение Заказчиком технологической схемы очистки сточных вод;
            </li>
            <li>
              согласование Заказчиком предварительной оценки стоимости решения.
            </li>
          </ul>
        </div>
      </div>
      <div class="eco-invent__img corner-smooth-50">
        <img src="./img/eco-invent.webp" alt="" />
      </div>
    </div>
  </div>
</section>
