<section class="eco-text">
  <div class="container">
    <div class="eco-text__container wblock wblock--39 wblock--white">
      <div class="wblock__left eco-text__img">
        <img src="./img/eco-text.webp" alt="" />
      </div>
      <div class="wblock__right eco-text__right">
        <div class="eco-text__desc desc1">
          <p>
            C&nbsp;1&nbsp;января 2019 года вступили в&nbsp;силу изменённые
            положения Федерального закона &laquo;Об&nbsp;охране окружающей
            среды&raquo; от&nbsp;10.01.2002&nbsp;г. &#8470;&nbsp;7-ФЗ
            и&nbsp;Федерального закона &laquo;Об&nbsp;охране атмосферного
            воздуха&raquo; от&nbsp;04.05.1999&nbsp;г. &#8470;&nbsp;96-ФЗ,
            в&nbsp;соответствии с&nbsp;которыми скорректирован подход
            к&nbsp;нормированию выбросов загрязняющих веществ в&nbsp;атмосферный
            воздух.<br />
            Разработка необходимых документов получила привязку
            к&nbsp;присвоенной категории объекта негативного воздействия:
          </p>
          <ul>
            <li>
              для объектов&nbsp;I категории НВОС в&nbsp;составе заявки
              на&nbsp;комплексное экологическое разрешение (КЭР) производится
              расчёт&nbsp;нормативов радиоактивных, высокотоксичных веществ,
              веществ, обладающих канцерогенными, мутагенными свойствами
              (веществ I, II&nbsp;класса опасности), а&nbsp;также расчёт
              технологических нормативов;
            </li>
            <li>
              для объектов&nbsp;II категории НВОС расчёт нормативов допустимых
              выбросов производится в&nbsp;составе декларации о&nbsp;воздействии
              на&nbsp;окружающую среду (ДВОС);
            </li>
            <li>
              для объектов III категории НВОС рассчитываются нормативы
              радиоактивных, высокотоксичных веществ, веществ, обладающих
              канцерогенными, мутагенными свойствами (веществ I, II&nbsp;класса
              опасности);
            </li>
            <li>
              для объектов&nbsp;IV категории НВОС выбросы в&nbsp;атмосферный
              воздух не&nbsp;нормируются.
            </li>
          </ul>
        </div>
        <div class="eco-text__desc desc1">
          <p>
            Учитывая неготовность нормативно-правовой базы к&nbsp;реализации
            новой стратегии государства в&nbsp;сфере экологического
            нормирования, были приняты переходные положения законодательства.
            ПДВ требует после разработки прохождение экспертизы,
            по&nbsp;её&nbsp;результатам санэпид заключение Роспотребнадзора,
            а&nbsp;далее зависит от&nbsp;категории<br />
            Ответственность<br />
            ст.&nbsp;8.1 КоАП РФ&nbsp;&mdash; штраф на&nbsp;юридических лиц
            до&nbsp;100&nbsp;тыс.&nbsp;₽<br />
            ст.&nbsp;8.5 КоАП РФ&nbsp;&mdash; штраф на&nbsp;юридических лиц
            до&nbsp;80&nbsp;тыс.&nbsp;₽<br />
            ст.&nbsp;8.21 КоАП РФ&nbsp;&mdash; штраф на&nbsp;юридических лиц
            до&nbsp;250&nbsp;тыс.&nbsp;₽&nbsp;или приостановка деятельности
            на&nbsp;срок до&nbsp;90&nbsp;суток
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
