<section class="eco-app">
  <div class="container">
    <div class="eco-app__row">
      <div class="eco-app__img">
        <img src="./img/eco-app.webp" alt="" />
      </div>
      <div class="eco-app__content">
        <h2 class="eco-app__title title3">
          Разрешение на&nbsp;точку сброса сточных вод
        </h2>
        <p class="eco-app__desc desc1">
          После ввода объекта в&nbsp;эксплуатацию (наличие актом приёмки
          госкомиссии), организации обязаны получить разрешение на&nbsp;сброс
          очищенных сточных вод.
        </p>
      </div>
    </div>
    <div class="eco-app__items">
      <div class="eco-app__col ea-item">
        <p class="ea-item__title title3">
          Что&nbsp;требуется для&nbsp;получения разрешения?
        </p>
        <div class="ea-item__desc desc1">
          <p>
            Получение Разрешения на&nbsp;точку сброса очищенных сточных
            вод&nbsp;трудоёмкий процесс, требующий основательного
            и&nbsp;корректного подбора и&nbsp;подготовки документации.
            В&nbsp;частности, необходимы акты о&nbsp;приёмке:
          </p>
          <ul>
            <li>коллекторов;</li>
            <li>очистных конструкций (сооружений);</li>
            <li>трубопроводов;</li>
            <li>фундамента внутренней канализации.</li>
          </ul>
        </div>
        <div class="ea-item__desc desc1">
          <p><b>Кроме того, в&nbsp;инстанции подаются:</b></p>
          <ul>
            <li>
              проект канализационной системы, с&nbsp;указанием информации
              об&nbsp;изменениях;
            </li>
            <li>
              технические отчёты по&nbsp;использованным расходным материалам;
            </li>
            <li>присвоенный адрес.</li>
          </ul>
        </div>
      </div>

      <div class="eco-app__col ea-item">
        <p class="ea-item__title title3">
          Требования к&nbsp;составу<br />сточных вод
        </p>
        <div class="ea-item__desc desc1">
          <p>
            Состав сточных вод должен соответствовать установленным
            соответствующей ЦСВ нормативам допустимых сбросов,
            а&nbsp;также&nbsp;технологическим нормативам, в&nbsp;которых указано
            количество идопустимая концентрация загрязняющих веществ,
            а&nbsp;также&nbsp;компоненты, находящиеся под запретом для слива.
          </p>
          <p>
            <b>Под запрет содержания в&nbsp;стоках попадают:</b>
          </p>
          <ul>
            <li>
              составляющие, которые разрушают внутренние стенки труб
              и&nbsp;очистных комплексов;
            </li>
            <li>
              субстанции способные осаждаться на&nbsp;внутренних стенках труб;
            </li>
            <li>взрывчатые, токсичные, опасные компоненты;</li>
            <li>
              элементы, снижающие проведение биологической очистки водных
              отходов.
            </li>
          </ul>
        </div>
        <div class="ea-item__desc desc1">
          <p>
            Сброс&nbsp;очищенных сточных вод должен соответствовать разрешённому
            по&nbsp;документам объёму, с&nbsp;температурой на&nbsp;выходене выше
            40С.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
