<section class="ssingle-dev ssingle-dev--pad">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Законодательное регулирование сброса&nbsp;сточных&nbsp;вод
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Законодательное регулирование сброса сточных вод осуществляется
          согласно ряду положений и&nbsp;постановлений, разработанных
          на&nbsp;основе
        </p>
        <p>
          Федерального закона от&nbsp;07.12.2011&nbsp;N 416-ФЗ
          &laquo;О&nbsp;водоснабжении и&nbsp;водоотведении&raquo;,
        </p>
        <p>Водного кодекса,</p>
        <p>Приказа Минприроды &#8470;&nbsp;2,</p>
        <p>
          Постановления Правительства РФ&nbsp;от&nbsp;22&nbsp;мая 2020&nbsp;г.
          &#8470;&nbsp;728 &laquo;Об&nbsp;утверждении Правил осуществления
          контроля состава и&nbsp;свойств сточных вод и&nbsp;о&nbsp;внесении
          изменений и&nbsp;признании утратившими силу некоторых актов
          Правительства Российской Федерации&raquo;
        </p>
      </div>
    </div>
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Этапы получения разрешения на&nbsp;сброс сточных вод
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Получение документального разрешения&nbsp;&mdash; поэтапный процесс:
        </p>
        <ul>
          <li>
            Вызов специалистов лицензированной лаборатории для проведения работ
            (забор сточных вод из&nbsp;разных мест после их&nbsp;прохождения
            через очистительные барьеры, подготовка анализов стока
            и&nbsp;результатов замеров в&nbsp;табличном виде с&nbsp;указанием
            концентрации элементов, содержащихся в&nbsp;стоке);
          </li>
          <li>
            Разработка мероприятий, позволяющих свести к&nbsp;минимуму долю
            загрязняющих компонентов. Ответственность заказчика
            за&nbsp;отрицательное воздействие производственных стоков
            на&nbsp;природу предполагает введение технологического
            усовершенствования работы предприятия и&nbsp;очистных сооружений;
          </li>
          <li>
            Согласование точки сброса сточных вод в&nbsp;территориальных
            органах.
          </li>
          <li>
            Отчёт реализации природоохранного плана. В&nbsp;докладе отражается
            комплекс разработанных и&nbsp;проведённых мероприятий (схема отвода,
            план разработанных мер, снижающих отрицательное действия стоков
            на&nbsp;природу, протокол лабораторных проверок).
          </li>
          <li>
            Обращение за&nbsp;разрешением в&nbsp;Федеральную службу
            по&nbsp;экологическому надзору.
          </li>
          <li>Выдача Разрешения на&nbsp;точку сброса очищенных сточных вод.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
