<section class="ssingle-dev">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Решения ваших экологических задач под&nbsp;ключ
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <ul>
          <li>
            от&nbsp;экологического проектирования до&nbsp;комплексного
            экологического сопровождения на&nbsp;всех этапах;
          </li>
          <li>
            от&nbsp;формирования проектной и&nbsp;отчётной документации
            до&nbsp;проведения специального экологического аудита;
          </li>
          <li>
            согласовываем пакеты документации в&nbsp;территориальных управлениях
            федерального агентства по&nbsp;рыболовству.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
