<section class="examples">
  <div class="examples__header container">
    <h2 class="title2 examples__title">Примеры реализованных проектов</h2>
    <div class="examples__right">
      <a href="#" class="btn btn-reset btn--small btn--white examples__btn">
        Все&nbsp;работы
      </a>
      <div class="examples__control control">
        <button class="btn-reset control__btn control__btn--prev examples-prev">
          <svg
            width="13"
            height="20"
            viewBox="0 0 13 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19L1.58259 10.0743C1.53845 10.0346 1.53845 9.9654 1.58259 9.92567L11.5 1"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn--next examples-next">
          <svg
            width="13"
            height="20"
            viewBox="0 0 13 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19L1.58259 10.0743C1.53845 10.0346 1.53845 9.9654 1.58259 9.92567L11.5 1"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="examples__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="examples__item corner-smooth-50 ex-item">
          <div class="ex-item__content">
            <p class="capture1 ex-item__title">
              Очистка усреднённых стоков г.&nbsp;Ломоносов
            </p>
            <p class="desc2 ex-item__desc">
              Хозяйственно-бытовые, ливневые, нефтепродукты Многофункциональный
              морской порт &laquo;Бронка&raquo;
            </p>
          </div>
          <div class="ex-item__img corner-smooth-50">
            <picture>
              <source
                srcset="./img/examples/01-mob.webp"
                type="image/webp"
                media="(max-width: 768px)"
              />
              <img src="./img/examples/01.webp" alt="" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="examples__item corner-smooth-50 ex-item">
          <div class="ex-item__content">
            <p class="capture1 ex-item__title">
              Очистка промышленных стоков пищевого производства г.&nbsp;Воронеж
            </p>
            <p class="desc2 ex-item__desc">
              Производственные и&nbsp;хозяйственно-бытовые стоки совмещенно<br />
              ООО &laquo;Келлогг Рус&raquo;
            </p>
          </div>
          <div class="ex-item__img corner-smooth-50">
            <picture>
              <source
                srcset="./img/examples/02-mob.webp"
                type="image/webp"
                media="(max-width: 768px)"
              />
              <img src="./img/examples/02.webp" alt="" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="examples__item corner-smooth-50 ex-item">
          <div class="ex-item__content">
            <p class="capture1 ex-item__title">
              Очистка промышленных стоков г.&nbsp;Пересвет
            </p>
            <p class="desc2 ex-item__desc">
              Промывочная масляная эмульсия<br />
              АО&nbsp;&laquo;Загорский Трубный Завод&raquo;
            </p>
          </div>
          <div class="ex-item__img corner-smooth-50">
            <picture>
              <source
                srcset="./img/examples/03-mob.webp"
                type="image/webp"
                media="(max-width: 768px)"
              />
              <img src="./img/examples/03.webp" alt="" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="examples__item corner-smooth-50 ex-item">
          <div class="ex-item__content">
            <p class="capture1 ex-item__title">
              Очистка промышленных стоков г.&nbsp;Подольск
            </p>
            <p class="desc2 ex-item__desc">
              Промывочная (СОЖ), насыщенная мелкодисперсной пылью кремния ООО
              &laquo;СОЛАР Кремниевые технологии&raquo;
            </p>
          </div>
          <div class="ex-item__img corner-smooth-50">
            <picture>
              <source
                srcset="./img/examples/04-mob.webp"
                type="image/webp"
                media="(max-width: 768px)"
              />
              <img src="./img/examples/04.webp" alt="" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="examples__bottom container">
    <a href="#" class="btn btn--small examples__btn examples__btn--mob">
      Все&nbsp;услуги
    </a>
    <div class="examples__control control">
      <button
        class="btn-reset control__btn control__btn--prev examples-prev"
      >
        <svg
          width="13"
          height="20"
          viewBox="0 0 13 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.5 19L1.58259 10.0743C1.53845 10.0346 1.53845 9.9654 1.58259 9.92567L11.5 1"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </button>
      <button
        class="btn-reset control__btn control__btn--next examples-next"
      >
        <svg
          width="13"
          height="20"
          viewBox="0 0 13 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.5 19L1.58259 10.0743C1.53845 10.0346 1.53845 9.9654 1.58259 9.92567L11.5 1"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
</section>
