<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__left">
        <nav class="footer-nav footer__nav">
          <a class="link footer-nav__capture">Информация</a>
          <ul>
            <li>
              <a href="#">Главная</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
            <li>
              <a href="#">О&nbsp;компании</a>
            </li>
            <li>
              <a href="#">Услуги</a>
            </li>
            <li>
              <a href="#">Наши работы</a>
            </li>
            <li>
              <a href="#">Новости</a>
            </li>
            <li>
              <a href="#">Консультации</a>
            </li>
          </ul>
        </nav>
        <nav class="footer-nav footer__nav">
          <a href="#" class="link footer-nav__capture">Услуги</a>
          <ul>
            <li>
              <a href="#">Проектирование&nbsp;ОС</a>
            </li>
            <li>
              <a href="#"
                >Строительство и&nbsp;ввод в&nbsp;эксплуатацию&nbsp;ОС</a
              >
            </li>
            <li>
              <a href="#">Разработка экологической документации</a>
            </li>
            <li>
              <a href="#"
                >Получение решения о&nbsp;предоставлении водного объекта
                в&nbsp;пользование</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__right">
        <a href="./" class="footer__logo">
          <img src="./img/logo.webp" alt="" />
        </a>
        <p class="footer__desc">
          ООО&nbsp;&laquo;Корпорация &laquo;Смарт Текнолоджи Солюшнс&raquo;
          специализируется на&nbsp;предоставлении комплексной услуги
          по&nbsp;проектированию, строительству и&nbsp;вводу в&nbsp;эксплуатацию
          очистных сооружений промышленных, ливневых и&nbsp;хозбытовых стоков.
          Разрабатываем и&nbsp;защищаем экологическую документацию предприятия.
        </p>
        <address class="footer__address">
          <a href="tel:+74954112762" class="link">+7 495 411 27 62</a>
          <a href="mailto:info@los-sts.ru" class="link">info@los-sts.ru</a>
          <p>
            Москва, Просп. Рязанский, д. 86/1, стр.&nbsp;3, эт.&nbsp;3, пом. IV,
            ком.&nbsp;10
          </p>
        </address>
      </div>
    </div>
    <div class="footer__bottom">
      <a href="#" class="link">Политика конфиденциальности</a>
      <small>© LOS-STS 2025</small>
    </div>
  </div>
</footer>
