<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="./" class="header__logo">
        <picture>
          <source
            srcset="./img/logo-mob.webp"
            media="(max-width: 768px)"
            type="image/webp"
          />
          <img src="./img/logo.webp" alt="Smart Technology Solutions" />
        </picture>
      </a>
      <nav class="nav header__nav main-navigation">
        <ul class="menu">
          <li class="menu-item menu-item-has-children">
            <a href="#">Услуги</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Проектирование&nbsp;ОС</a>
              </li>
              <li class="menu-item">
                <a href="#"
                  >Строительство и&nbsp;ввод в&nbsp;эксплуатацию&nbsp;ОС
                </a>
              </li>
              <li class="menu-item">
                <a href="#">Разработка экологической документации</a>
              </li>
              <li class="menu-item">
                <a href="#"
                  >Получение решения о&nbsp;предоставлении водного объекта
                  в&nbsp;пользование</a
                >
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="#">Типы сточных&nbsp;вод</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Производственные стоки</a>
              </li>
              <li class="menu-item">
                <a href="#">Хозяйственно-бытовые стоки</a>
              </li>
              <li class="menu-item">
                <a href="#">Ливневые сточные воды</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="#">Методы очистки сточных&nbsp;вод</a>
            <ul class="sub-menu">
              <li class="menu-item">
                <a href="#">Биологическая очистка сточных вод</a>
              </li>
              <li class="menu-item">
                <a href="#">Физико-химический метод очистки сточных&nbsp;вод</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Примеры работ</a>
          </li>
          <li class="menu-item">
            <a href="#">О&nbsp;компании</a>
          </li>
          <li class="menu-item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <button class="btn-reset btn btn--small header__btn">
          Обратная связь
        </button>
        <div class="header__col">
          <div>
            <a href="tel:+74954112762" class="link">+7 495 4112 7 62</a>
          </div>
          <div>
            <a href="mailto:info@los-sts.ru" class="link">info@los-sts.ru</a>
          </div>
        </div>
      </div>
      <button
        class="btn-reset burger header__burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
