<section class="history">
  <div class="container">
    <div
      class="history__container wblock wblock--white wblock--2 corner-smooth-50"
    >
      <div class="wblock__left history__left corner-smooth-50">
        <h2 class="title2 history__title">История нашей компании</h2>
        <div class="history__desc desc1">
          <p>
            ООО «Корпорация «Smart Technology Solutions»(Умные Технологические
            Решения)начала свою деятельность с&nbsp;12.04.2010 года
            в&nbsp;области проведения энергообследований, разработки
            и&nbsp;реализации Программ энергосбережения в&nbsp;рамках исполнения
            Федерального закона от&nbsp;23.11.2009&nbsp;N 261-ФЗ
            (ред.&nbsp;от&nbsp;26.07.2019) "Об&nbsp;энергосбережении
            и&nbsp;о&nbsp;повышении энергетической эффективности
            и&nbsp;о&nbsp;внесении изменений в&nbsp;отдельные законодательные
            акты Российской Федерации".<br />
            В&nbsp;рамках реализации данной Программы, компанией было проведено
            более 300энергообследований. Компетенции «Корпорации «Smart
            Technology Solutions» были востребованы производственными
            предприятиями, учреждениями систем высшего, среднего
            и&nbsp;дошкольного образования, поликлиниками и&nbsp;медицинскими
            центрами).Позднее, компания расширила предложение рынку и&nbsp;стала
            оказывать заказчикам услуги в&nbsp;области проектирования
            и&nbsp;строительства малоэтажных жилых зданий.
          </p>
        </div>
      </div>
      <div class="wblock__right history__img corner-smooth-50">
        <img src="./img/history.webp" alt="" />
      </div>
    </div>
  </div>
</section>
