<section class="complete complete--nes">
  <div class="container">
    <div class="wblock wblock--white wblock--39">
      <div class="wblock__left complete__img">
        <img src="./img/indus-nes.webp" alt="" />
      </div>
      <div class="wblock__right complete__content">
        <h2 class="title3 complete__title">
          Необходимость очистки производственных сточных&nbsp;вод
        </h2>
        <div class="desc1 complete__desc">
          <p>
            Вся флора и&nbsp;фауна Земли на&nbsp;прямую зависит от&nbsp;наличия
            пресной воды (вода с&nbsp;содержанием солей менее
            100&nbsp;мг/л&nbsp;&mdash; 1). 97% воды на&nbsp;Земле&nbsp;&mdash;
            солёная, из&nbsp;пресной воды (3%&nbsp;от&nbsp;общего объёма), 87%
            находится в&nbsp;полярных полюсах и&nbsp;ледниках и&nbsp;только 0,4%
            из&nbsp;всех запасов воды на&nbsp;Земле являются пресной
            и&nbsp;доступной.
          </p>
          <p>
            Пресная вода является возобновляемым ресурсом но&nbsp;нужно
            учитывать, и&nbsp;то&nbsp;что, атмосферные осадки (основной источник
            возобновления запасов пресной воды) распределены, по&nbsp;территории
            Земли, не&nbsp;равномерно, а&nbsp;значит и&nbsp;распространение
            пресной воды по&nbsp;всему миру далеко неравномерно.
          </p>
          <p>
            Неравномерность распределения и&nbsp;недостаток пресной воды
            повышает риск возникновения конфликтов, проблемы
            с&nbsp;здравоохранением, трудности в&nbsp;производстве продуктов
            питания, приходится вводить запрет на&nbsp;увеличение объёмов
            промышленного производства, большая угроза для окружающей среды.
          </p>
          <p>
            Угроза возникновения дефицита воды кроится и&nbsp;в&nbsp;ухудшении
            качества самой пресной воды. Общее загрязнение окружающей среды
            так&nbsp;же снижает качество воды.
          </p>
          <p>
            Не&nbsp;очищенные сточные воды, или вода не&nbsp;прошедшая должную
            степень очистки, попадая в&nbsp;водоёмы, существенно снижают
            жизнедеятельность данного водоёма, уничтожает или изменяет его флору
            и&nbsp;фауну. Водоёмы, с&nbsp;пресной и&nbsp;морской водой, могут
            включать в&nbsp;себя пруды, озера, реки и&nbsp;моря. Вся экосистема
            является взаимно связанной, поэтому загрязняющие вещества, попавшие
            в&nbsp;реку или какой‑либо другой пресный водоём, в&nbsp;конце
            концов, попадают в&nbsp;моря и&nbsp;океаны.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
