<section class="indus-rating corner-smooth-50">
  <div class="container">
    <h2 class="title2 title2--accent indus-rating__title">
      Рейтинг наиболее опасных факторы загрязнения окружающей среды.
    </h2>
    <p class="desc1 indus-rating__subtitle">
      Учёными, в&nbsp;ходе исследований был составлен рейтинг наиболее опасных
      факторов загрязнения:
    </p>
    <div class="indus-rating__items">
      <div class="indus-rating__item ir-item">
        <p class="title4 title4--accent ir-item__title">
          Производственные отходы
        </p>
        <div class="desc1 ir-item__desc">
          <p>
            Самыми вредоносными были признаны производственные отходы, утечки
            и&nbsp;аварии в&nbsp;процессе изготовления продукции. Из-за
            техногенных аварий на&nbsp;химических заводах или
            в&nbsp;лабораториях в&nbsp;воду могут попасть высокотоксичные
            соединения и&nbsp;патогенные бактерии. Они способны уничтожить флору
            и&nbsp;фауну в&nbsp;радиусе 5&ndash;10&nbsp;км от&nbsp;источника
            загрязнения.
          </p>
        </div>
      </div>

      <div class="indus-rating__item ir-item">
        <p class="title4 title4--accent ir-item__title">
          Хозяйственно-бытовые стоки&nbsp;воды
        </p>
        <div class="desc1 ir-item__desc">
          <p>
            В&nbsp;канализационных стоках, населённых пунктов, и&nbsp;особенно
            крупными мегаполисов, образуется огромное количество грязи, отходов
            человеческой жизнедеятельности и&nbsp;средств бытовой химии.
            Атмосферные осадки смываемая почву смешиваются в&nbsp;общую массу,
            которая попадает в&nbsp;водоёмы, реки, моря и&nbsp;океаны. Если
            органические вещества способен переработать планктон,
            то&nbsp;содержащиеся в&nbsp;моющих средствах синтетические вещества
            переработать невозможно. Эти вещества могут стать причиной гибели
            живых организмов в&nbsp;водной среде.
          </p>
        </div>
      </div>

      <div class="indus-rating__item ir-item">
        <p class="title4 title4--accent ir-item__title">
          Загрязнения от&nbsp;нефтепереработки и&nbsp;нефтедобычи
        </p>
        <div class="desc1 ir-item__desc">
          <p>
            Перерабатывающие и&nbsp;добывающие предприятия полезных ископаемых
            терпят до&nbsp;10&nbsp;000 тонн производственных потерь ежегодно
            наибольшую опасность представляет разлив нефти. Полезное ископаемое
            нельзя полностью удалить из&nbsp;воды из-за его скопления
            по&nbsp;поверхности. При&nbsp;попадании в&nbsp;нефтяное пятно гибнут
            птицы и&nbsp;рыбы, условия обитания которых нарушаются.
            В&nbsp;результате происходит сокращение биологических ресурсов,
            миграция животных и&nbsp;нарушение пищевой цепи.
          </p>
        </div>
      </div>

      <div class="indus-rating__item ir-item">
        <p class="title4 title4--accent ir-item__title">
          Загрязнения от&nbsp;сельскохозяйственной деятельности человека
        </p>
        <div class="desc1 ir-item__desc">
          <p>
            В&nbsp;сельском хозяйстве, для ускорения роста и&nbsp;сохранения
            90&ndash;95% урожая используются химические и&nbsp;натуральные
            удобрения. Остатки удобрений смываются дождём и&nbsp;попадают
            в&nbsp;водоёмы или грунтовые воды.
          </p>
          <p>
            Так&nbsp;же, растения обрабатывают пестицидами для отпугивания
            вредителей, которые в&nbsp;процессе также попадают в&nbsp;почву.
            Несмотря на&nbsp;ущерб, отказаться от&nbsp;применения таких способов
            выращивания нельзя.
          </p>
        </div>
      </div>

      <div class="indus-rating__item ir-item">
        <p class="title4 title4--accent ir-item__title">
          Атмосферное загрязнение
        </p>
        <div class="desc1 ir-item__desc">
          <p>
            Выброс предприятиями токсичных летучих соединений приводит
            к&nbsp;скоплению смога. Попадая в&nbsp;дождевые облака ядовитые газы
            вступают в&nbsp;реакцию с&nbsp;молекулами влаги и&nbsp;превращаются
            в&nbsp;кислотные осадки. Результатом прошедшей химической реакции
            являются серные и&nbsp;азотные кислоты высокой концентрации. Данные
            осадки попадая в&nbsp;землю и&nbsp;водоёмы, препятствуют
            парообразованию. В&nbsp;результате нарушается круговорот воды
            в&nbsp;природе, гибнет флора и&nbsp;фауна, изменяется химический
            состав почвы.
          </p>
        </div>
      </div>

      <div class="indus-rating__item ir-item">
        <p class="title4 title4--accent ir-item__title">Тепловое загрязнение</p>
        <div class="desc1 ir-item__desc">
          <p>
            Остаток деятельности атомных и&nbsp;тепловых электростанций является
            вода повышенной температуры, тёплые стоки попадая в&nbsp;водоём
            не&nbsp;подвергается изменению структуру воды, но&nbsp;высокая
            температура оказывает негативное воздействие на&nbsp;живые
            организмы. В&nbsp;тёплой воде начинают активнее расти водоросли,
            поглощающие растворённый в&nbsp;воде кислород. В&nbsp;условиях
            гипоксии начинается замор рыбы и&nbsp;насекомых.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
