<section class="ssingle-dev">
  <div class="container">
    <div class="ssingle-dev__content corner-smooth-50">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Особенности производственных сточных вод
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Сточные воды производственных предприятий, включая стоки предприятий
          агропромышленного комплекса, имеют огромные различия. Состав сточных
          вод, производственных предприятий, во&nbsp;многом зависит от&nbsp;типа
          принадлежности предприятия к&nbsp;определённой отрасли производства
          и&nbsp;обрабатываемых материалов.
        </p>
        <p>
          Некоторые производственные сточные воды могут быть насыщенны
          органическими соединениями, которые имеют высокую способность
          к&nbsp;разложению биологических загрязнителей, или иметь
          в&nbsp;основном неорганический состав или быть потенциально
          ингибирующими. Это означает, что показатели ОВЧ, БПК5&nbsp;и&nbsp;ХПК
          могут составлять десятки сотен мг/л, так&nbsp;же благодаря высокой
          концентрациям органических веществ, стоки могут иметь недостаток
          питательных веществ, уровни pH&nbsp;могут составлять более 6&ndash;9.
          Такие показатели соответствуют сточным водам с&nbsp;высоким
          содержанием растворённых солей металла.
        </p>
        <p>
          Так&nbsp;же, большое значение на&nbsp;состав стоков оказывает
          сменность технологических процессов проводимых на&nbsp;предприятии
          операций.
        </p>
        <p>
          Ещё одним важным фактором, влияющим на&nbsp;характеристики стоков
          предприятия, является не&nbsp;равномерный объём сбросов сточных вод.
          Наиболее значимым фактором, влияющим на&nbsp;объём потока
          производственных сточных вод, является сменный характер работы
          на&nbsp;предприятии, длительность смены может достигать
          от&nbsp;8&nbsp;до&nbsp;12&nbsp;часов, число смен в&nbsp;сутки может
          достигать трёх. Это означает, что поток промышленных сточных вод может
          иметь несколько пиков интенсивности в&nbsp;сутки, а&nbsp;может
          и&nbsp;вовсе отсутствовать.
        </p>
        <p>
          Производственные сточные воды имеют большие различия, между
          предприятиями, если даже они принадлежат к&nbsp;предприятиям одной
          и&nbsp;той&nbsp;же отрасли производства. Причиной этих различий
          является адаптация технологических процессов под различный тип
          местности, а&nbsp;также характеристики используемого сырья.
        </p>
        <p>
          Параметры стоков, одного и&nbsp;того&nbsp;же предприятия, могут могут
          меняться со&nbsp;временем в&nbsp;связи со&nbsp;сменой технологий
          производства или&nbsp;же могут осуществляться залповые выбросы
          вдобавок к&nbsp;регулярным сбросам сточных вод.
        </p>
        <p>
          Так&nbsp;же могут происходить утечки или незапланированные сбросы.
        </p>
      </div>
    </div>
  </div>
</section>
