<section class="indus-water">
  <div class="container">
    <div
      class="wblock wblock--2 wblock--white indus-water__container corner-smooth-50"
    >
      <div class="wblock__left indus-water__content">
        <h3 class="title3 indus-water__title">
          Состав производственных сточных&nbsp;вод
        </h3>
        <div class="indus-water__text">
          <p class="indus-water__capture desc1">
            <b>Производственные сточные воды</b>
          </p>
          <div class="desc1 indus-water__desc">
            <p>
              Данный тип сточных вод формируется непосредственно в&nbsp;процессе
              производственной деятельности предприятия.
            </p>
            <p>Основные виды производственных сточных вод:</p>
            <ul>
              <li>Производственный конденсат.</li>
              <li>Растворы гальванических или травильных ванн.</li>
              <li>Содовые растворы.</li>
              <li>Аммиачные растворы.</li>
              <li>Пищевые красители.</li>
              <li>Токсичные компоненты.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="wblock__right indus-water__img corner-smooth-50">
        <img src="./img/indus-water-1.webp" alt="" />
      </div>
    </div>
    <div
      class="wblock wblock--2 wblock--white indus-water__container corner-smooth-50"
    >
      <div class="wblock__left indus-water__content">
        <div class="indus-water__text">
          <p class="indus-water__capture desc1">
            <b>Стоки от&nbsp;вспомогательных систем (жизнеобеспечения).</b>
          </p>
          <div class="desc1 indus-water__desc">
            <p>
              Сточные воды имеют состав сопоставимый
              с&nbsp;хозяйственно-бытовыми стоками. Стоки вспомогательных
              производственных систем не&nbsp;содержат токсичных компонентов.
            </p>
            <p>
              Сточные воды сформированные в&nbsp;результате работы служб
              жизнеобеспечения на&nbsp;производственном предприятии:
            </p>
            <ul>
              <li>Стоки из&nbsp;душевых, уборных комнат, столовых.</li>
              <li>Вода в&nbsp;отопительных установках.</li>
              <li>Сливы охладительных установок.</li>
            </ul>
          </div>
        </div>
        <div class="indus-water__text">
          <p class="indus-water__capture desc1">
            <b>Воды от&nbsp;подсобных и&nbsp;обслуживающих цехов</b>
          </p>
          <div class="desc1 indus-water__desc">
            <p>
              Данные сточные воды образуются в&nbsp;результате работы
              второстепенных и&nbsp;обслуживающих основное производство.
              К&nbsp;данной категории относятся стоки, образующиеся
              в&nbsp;результате работы административно-хозяйственных строений,
              подсобных цехов, складов материалов. К&nbsp;потенциальным
              источникам загрязнения относятся ремонтно-механические цехи,
              электроцехи.
            </p>
          </div>
        </div>
      </div>
      <div class="wblock__right indus-water__img corner-smooth-50">
        <img src="./img/indus-water-2.webp" alt="" />
      </div>
    </div>
  </div>
</section>
