<section class="nds-wrapper">
  <section class="nds">
    <div class="container">
      <div class="nds__heading">
        <h2 class="title2 title2--accent nds__title">Проект&nbsp;НДС</h2>
        <div class="desc1 nds__desc">
          <p>
            Основной результат&nbsp;&mdash; получение разрешения на&nbsp;сбросы
            веществ (заисключением радиоактивных веществ) и&nbsp;микроорганизмов
            в&nbsp;водные объекты.
          </p>
          <p>
            <b> Кому необходим Проект НДС? </b> Обязателен для любых
            предприятий, которые осуществляют сброс сточных вод в&nbsp;водный
            объект.
          </p>
          <p>
            <b
              >Основание для разработки Проекта нормативно допустимых сбросов
              разрабатывается в&nbsp;соответствии со&nbsp;следующими
              нормативными документами:</b
            >
          </p>
          <ul>
            <li>
              Федеральный закона от&nbsp;10&nbsp;января 2002&nbsp;г.
              &#8470;&nbsp;7-ФЗ &laquo;Об&nbsp;охране окружающей среды&raquo;;
            </li>
            <li>Водного кодекса Российской Федерации;</li>
            <li>Налогового кодекса Российской Федерации (части второй);</li>
            <li>
              Постановления Правительства Российской Федерации
              от&nbsp;30&nbsp;июля 2004&nbsp;г. &#8470;&nbsp;400
              &laquo;Об&nbsp;утвержденииположения о&nbsp;Федеральной службе
              по&nbsp;надзору в&nbsp;сфере природопользования и&nbsp;внесении
              изменений впостановление Правительства Российской Федерации
              от&nbsp;22&nbsp;июля 2004&nbsp;г. &#8470;&nbsp;370&raquo;;
            </li>
            <li>
              Постановления Правительства Российской Федерации
              от&nbsp;30&nbsp;декабря 2006&nbsp;г. &#8470;&nbsp;844
              &laquo;О&nbsp;порядкеподготовки и&nbsp;принятия решения
              о&nbsp;предоставлении водного объекта в&nbsp;пользование&raquo;;
            </li>
            <li>
              Приказа Министерства природных ресурсов Российской Федерации
              от&nbsp;14&nbsp;марта 2007&nbsp;г.
              &#8470;&nbsp;56&nbsp;&laquo;Обутверждении типовой формы решения
              о&nbsp;предоставлении водного объекта в&nbsp;пользование&raquo;;
            </li>
            <li>
              Приказа Министерства природных ресурсов Российской Федерации
              от&nbsp;17&nbsp;декабря 2007&nbsp;г. &#8470;&nbsp;333 «Об
              утверждении Методики разработки нормативов допустимых сбросов
              веществ и&nbsp;микроорганизмов вводные объекты для
              водопользователей»
            </li>
          </ul>
        </div>
      </div>

      <div class="nds__steps nds-steps">
        <h3 class="title3 title3--accent nds-steps__title">
          Этапы выполнения работ:
        </h3>
        <div class="nds-steps__item">
          <h4 class="title4 title4--accent nds-steps__capture">Первый этап</h4>
          <div class="desc1 nds-steps__desc">
            <p>
              Инвентаризация источников образования и&nbsp;сброса сточных вод
              и&nbsp;сбор всех исходных данных. При этом определяются способы
              отведения сточных вод с&nbsp;территории, наличие ливневой
              канализации и&nbsp;очистных сооружений, пути отведения
              хозяйственно-бытовых сточных вод.<br />
              На&nbsp;этом этапе выявляются водоохранные ограничения
              в&nbsp;районе расположения исследуемого объекта (зоны санитарной
              охраны источников питьевого водоснабжения, водоохранные зоны
              водных объектов).
            </p>
          </div>
        </div>
        <div class="nds-steps__item">
          <h4 class="title4 title4--accent nds-steps__capture">Второй этап</h4>
          <div class="desc1 nds-steps__desc">
            <p>
              Разработка проекта НДС. На&nbsp;втором этапе производятся
              следующие расчёты и&nbsp;работы:
            </p>
            <ul>
              <li>
                расчёт величин НДС, включающий в&nbsp;себя расчёт объёма сточных
                вод предприятия и&nbsp;определение количества загрязняющих
                веществ и&nbsp;микроорганизмов, допустимых к&nbsp;сбросу;
              </li>
              <li>расчёт нормативов допустимых сбросов;</li>
              <li>разрабатывается план экологического контроля;</li>
              <li>
                оформляется проект в&nbsp;соответствии с&nbsp;установленными
                формой и&nbsp;требованиями.
              </li>
            </ul>
            <p>
              При превышении фактических показателей сброса сточных вод над
              разработанными НДС, разрабатывается и&nbsp;проходит согласование
              совместно с&nbsp;НДС&nbsp;&mdash; План снижения (мероприятия)
              сбросов загрязняющих веществ в&nbsp;водные объекты, направленный
              на&nbsp;снижение негативного влияния сточных вод на&nbsp;водный
              объект и&nbsp;достижение разработанных НДС.
            </p>
          </div>
        </div>
        <div class="nds-steps__item">
          <h4 class="title4 title4--accent nds-steps__capture">Третий этап</h4>
          <div class="desc1 nds-steps__desc">
            <p>
              Согласование проекта с&nbsp;уполномоченными государственными
              органами с&nbsp;целью утверждения нормативов допустимого сброса.
              Получение разрешения на&nbsp;сброс.
            </p>
            <p>
              На&nbsp;данном этапе проект НДС направляется
              в&nbsp;территориальное управление ФБУЗ &laquo;Центр гигиены
              и&nbsp;эпидемиологии&raquo;.
            </p>
            <p>
              Срок рассмотрения проекта
              <b>60&nbsp;рабочих дней после оплаты экспертизы.</b>
            </p>
            <p>
              По&nbsp;результатам экспертизы Проект НДС получает экспертное
              заключение в&nbsp;территориальном органе Росводресурсов (БВУ).
            </p>
            <p>
              На&nbsp;данном этапе происходит согласование НДС
              с&nbsp;Росрыболовством (МОКТУ), Росгидрометом, Роспотребназдором,
              Росприроднадзором, а&nbsp;также утверждение
              НДС&nbsp;территориальным органом МОБВУ (Московско-Окское
              бассейновое водное управление) и&nbsp;получение заверенной копии
              приказа об&nbsp;утверждении НДС&nbsp;в&nbsp;срок,
              <b>не&nbsp;превышающий 45&nbsp;рабочих дней.</b>
            </p>
            <p>
              После получения копии приказа об&nbsp;утверждении НДС,
              производится подача комплекта документов в&nbsp;уполономоченные
              государственные органы для получения разрешения на&nbsp;сбросы
              загрязняющих веществ в&nbsp;водные объекты.
            </p>
            <p>
              Срок выдачи разрешения на&nbsp;сброс регулируется
              административными регламентами и&nbsp;составляет совокупно
              <b
                >от&nbsp;50&nbsp;рабочих дней с&nbsp;момента подачи
                документов.</b
              >
            </p>
            <p>
              Срок действия проекта НДС Проект НДС, нормативы допустимого сброса
              и&nbsp;разрешение на&nbsp;сбросы веществ в&nbsp;водные объекты
              действуют в&nbsp;течение
              <b>3&ndash;5&nbsp;лет,</b> в&nbsp;зависимости от&nbsp;принятых
              расчётов в&nbsp;проекте.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nds nds--blocks">
    <div class="container">
      <div class="nds__heading">
        <h2 class="title2 title2--accent nds__title">
          В&nbsp;каких случаях требуется пересмотр&nbsp;НДС?
        </h2>
        <div class="desc1 nds__desc">
          <p>
            Обязательное уточнение НДС до&nbsp;того, как истёк период действия,
            следует проводить при изменении параметров сброса, способов очистки
            сточных вод, технологии производства и&nbsp;иных параметров,
            в&nbsp;случае изменения показателей, характеризующих ситуацию
            на&nbsp;водном объекте,<br />
            характеризующих ситуацию на&nbsp;водном объекте, более чем
            на&nbsp;20% (например изменение фоновой концентрации, расчётных
            расходов водотока и&nbsp;пр.).
          </p>
          <p>
            Срок производства всего объёма (цикла) работ&nbsp;&mdash;
            от&nbsp;инвентаризации источников сбросов до&nbsp;получения
            разрешения на&nbsp;выбросы&nbsp;&mdash; составляетот полугода.
          </p>
          <p>Результат работы.</p>
          <p>
            В&nbsp;результате выполненной работы Заказчик получает оригиналы
            следующих документов:
          </p>
          <ul>
            <li>
              Экспертное заключение ФБУЗ &laquo;Центр гигиены
              и&nbsp;эпидемиологии&raquo;;
            </li>
            <li>Проект нормативов допустимых сбросов;</li>
            <li>
              Нормативы допустимого сброса загрязняющих веществ
              (за&nbsp;исключением радиоактивных веществ) и&nbsp;микроорганизмов
              в&nbsp;водные объекты. Разрешение на&nbsp;сбросы веществ
              (за&nbsp;исключением радиоактивных веществ) и&nbsp;микроорганизмов
              в&nbsp;водные объекты.
            </li>
          </ul>
          <p>Возможные изменения сроков работ:</p>
          <p>
            Необходимо понимать, что на&nbsp;каждом этапе проведения работ может
            быть получен отказ, о&nbsp;котором будет известно только
            по&nbsp;истечении регламентного срока рассмотрения проекта.
            Изменения вносимые в&nbsp;проект на&nbsp;последних этапах
            согласования могут повлечь за&nbsp;собой коррекцию и&nbsp;уточнения
            предыдущих этапов и&nbsp;разрешение на&nbsp;сброс будет получено
            намного позже установленного срока.
          </p>
          <p>
            Квалифицированные специалисты нашей компании помогут сократить время
            на&nbsp;разработку проекта и&nbsp;оформление необходимой
            документации, своевременно устранят любые замечания.
          </p>
        </div>
      </div>
      <div class="nds__heading">
        <h2 class="title3 title3--accent nds__title nds__title--lm">
          Справка&nbsp;РХХ
        </h2>
        <div class="desc1 nds__desc">
          <p>
            Рыбохозяйственная характеристика выдаётся ФГБУ
            &laquo;Рыбводами&raquo;, которые являются подведомственными
            организациями Федерального агенства по&nbsp;рыболовству. В&nbsp;зону
            ответственности Территориальных управлений Федерального агенства
            по&nbsp;рыболовству входят различные &laquo;Рыбводы&raquo;, поэтому
            рыбохозяйственную характеристику можно получить в&nbsp;соответствии
            с&nbsp;географическим расположением водного объекта.
          </p>
          <p>
            В&nbsp;соответствии с&nbsp;ФЗ &#8470;&nbsp;166
            от&nbsp;20.12.04&nbsp;ст.&nbsp;17&nbsp;часть
            3&nbsp;&laquo;К&nbsp;водным объектам рыбохозяйственного значения
            относятся водные объекты, которые используются или могут быть
            использованы для добычи (вылова) водных биоресурсов&raquo;, часть
            4&nbsp;&laquo;Категории водных объектов рыбохозяйственного значения
            и&nbsp;особенности добычи (вылова) водных биоресурсов, обитающих
            в&nbsp;них, устанавливаются федеральным органом исполнительной
            власти в&nbsp;области рыболовства&raquo; соответственно для
            определения категории водоёма необходимо делать запрос
            в&nbsp;Федеральный орган исполнительной власти в&nbsp;области
            рыболовства.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
