<section class="news-section">
  <div class="container">
    <div class="news-section__header">
      <h2 class="title2 news-section__title">Новости</h2>
      <a href="#" class="btn btn--white btn-reset btn--small news-section__btn">
        Архив новостей
      </a>
    </div>

    <div class="news-section__items">
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <div class="news-item__content">
          <div class="news-item__text">
            <h4 class="capture1 news-item__title">
              г.&nbsp;Доброград, Ковровского р-на
            </h4>
            <p class="desc2 desc2--150 news-item__desc">
              Начаты работы по&nbsp;подготовке котлована для&nbsp;строительства
              жилого многоквартирного Дома 1&nbsp;г. Доброград, Ковровский р-н.
            </p>
          </div>
          <time class="desc2" datetime="11.22.2022">22&nbsp;ноября 2022</time>
        </div>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/02.webp" alt="" />
        </div>
        <div class="news-item__content">
          <div class="news-item__text">
            <h4 class="capture1 news-item__title">
              Район г. Москва &laquo;Новые Ватутинки&raquo;.
            </h4>
            <p class="desc2 desc2--150 news-item__desc">
              Реализована поставка системы энергоэффективного освещения
              для&nbsp;освещения уличной территории школы.
            </p>
          </div>
          <time class="desc2 desc2--150" datetime="11.01.2022"
            >11&nbsp;января 2022</time
          >
        </div>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/03.webp" alt="" />
        </div>
        <div class="news-item__content">
          <div class="news-item__text">
            <h4 class="capture1 news-item__title">
              Воронежский филиал &laquo;Калачеевский сырзавод&raquo;
            </h4>
            <p class="desc2 desc2--150 news-item__desc">
              Завершён комплекс инжиниринговых работ по&nbsp;обследованию
              производственной площадки, подготовке Отчёта для Калачеевского
              сырзавода.
            </p>
          </div>
          <time class="desc2 desc2--150" datetime="11.22.2022"
            >07&nbsp;декабря 2021</time
          >
        </div>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/04.webp" alt="" />
        </div>
        <div class="news-item__content">
          <div class="news-item__text">
            <h4 class="capture1 news-item__title">
              ООО&nbsp;&laquo;КИИЛТО-КЛЕЙ РАМЕНСКОЕ&raquo;
            </h4>
            <p class="desc2 desc2--150 news-item__desc">
              Работы по&nbsp;проектированию ЛОС&nbsp;завершены.
            </p>
          </div>
          <time class="desc2 desc2--150" datetime="11.22.2022"
            >29&nbsp;октября 2021</time
          >
        </div>
      </article>
    </div>

    <a
      href="#"
      class="btn btn--white btn-reset btn--small news-section__btn news-section__btn--mob"
    >
      Архив новостей
    </a>
  </div>
</section>
