<section class="obtain-per">
  <div class="container">
    <h2 class="title2 title2--accent obtain-per__title">
      Перечень согласований для&nbsp;получения Решения:
    </h2>

    <div class="obtain-per__items">
      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Получение справок фоновые концентрации по&nbsp;воде; климатическая
            характеристика водного объекта. ФГБУ &laquo;Росгидромет&raquo;.
            <b>Срок&nbsp;&mdash; 7&nbsp;р/д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Разработка и&nbsp;согласование баланса водопотребления
            и&nbsp;водоотведения. МОБВУ. <b>Срок&nbsp;&mdash; 10&nbsp;р\д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Получение рыбохозяйственной характеристики для точки сброса
            очищенных сточных вод от&nbsp;ФГБУ &laquo;Мосрыбвод&raquo;. ФГБУ
            &laquo;Мосрыбвод&raquo;. <br /><b>Срок&nbsp;&mdash; 25&nbsp;р/д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Сдача проекта&nbsp;ОС на&nbsp;согласование и&nbsp;выполнение проекта
            &laquo;Оценки воздействия на&nbsp;окружающую среду&raquo;
            в&nbsp;ФГБУ &laquo;Мосрыбвод&raquo;. ФГБУ &laquo;Мосрыбвод&raquo;.
            <b>Срок&nbsp;&mdash; 25&nbsp;р/д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Согласование размещения очистных сооружений. Согласование проекта
            очистных сооружений. Федеральное агентство по&nbsp;рыболовству.
            Моск.окское территориальное управление.
            <b>Срок&nbsp;&mdash; 50&ndash;75&nbsp;р/д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Разработка проекта НДС (нормативы допустимых сбросов).<br />
            <b>Срок&nbsp;&mdash; 14&nbsp;р/д</b> с&nbsp;момента получения
            исходных данных согласно пунктов 1, 2, 3&nbsp;Перечня.
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Получение Решения на&nbsp;пользование водным объектом. Минэкологии
            М.О. <br /><b>Срок&nbsp;&mdash; 12&nbsp;р/д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Согласование проекта НДС (проект нормативов допустимого
            сброса&nbsp;загрязняющих в‑в) при сбросе&nbsp;в&nbsp;водный объект.
          </p>
          <ul>
            <li>
              Федеральная служба водных ресурсов и&nbsp;мониторингу окружающей
              среды;
            </li>
            <li>Федеральное агентство по&nbsp;гидрометеорологии;</li>
            <li>Государственный комитет&nbsp;РФ по&nbsp;рыболовству;</li>
            <li>ТУ&nbsp;Роспотребнадзор;</li>
            <li>Центр гигиены и&nbsp;эпидемиологии МО;</li>
            <li>Ростехнадзор.</li>
          </ul>
          <p>
            <b>Срок&nbsp;&mdash; 75&nbsp;р/д.</b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Получение разрешения на&nbsp;сброс загрязняющих веществ
            в&nbsp;окружающую среду. Федеральнаяслужба по&nbsp;надзору
            в&nbsp;сфере природопользования. (Росприроднадзор по&nbsp;ЦФО).
            <b> Срок&nbsp;&mdash; 14&nbsp;р/д. </b>
          </p>
        </div>
      </div>

      <div class="obtain-per__item">
        <div class="desc1 obtain-per__desc">
          <p>
            Разработка и&nbsp;согласование программы ведения регулярных
            наблюдений за&nbsp;водным объектом(разработка &laquo;до&raquo; или
            &laquo;после&raquo; пуска очистных сооружений на&nbsp;проектную
            мощность). <b>Срок&nbsp;&mdash; 25&nbsp;р/д.</b>
          </p>
        </div>
      </div>
    </div>
    <div class="desc1 obtain-per__desc">
      <p>
        Касательно пункта 10&nbsp;Перечня согласований&nbsp;&mdash; пользование
        любым водным объектом подразумевает ответственность пользователя водным
        объектом за&nbsp;состоянием вверенного ему водоёма, поэтому
        в&nbsp;рамках оформления документации для заключения Договора
        водопользования или получения Решения на&nbsp;право пользования водным
        объектом разрабатывается Программа регулярных наблюдений. Программа
        регулярных наблюдений за&nbsp;водными объектами
        и&nbsp;их&nbsp;водоохранными зонами согласовывается в&nbsp;Отделе водных
        ресурсов по&nbsp;Московской области МОБВУ. Стоимость разработки решения:
      </p>
    </div>
  </div>
</section>
