<section class="obtain-text">
  <div class="container">
    <div class="wblock wblock--2 obtain-text__container wblock--white">
      <div class="obtain-text__left wblock__left">
        <div class="desc1 obtain-text__desc">
          <p>
            В&nbsp;Водном Кодексе сказано, что документально это утверждается
            в&nbsp;Решении о&nbsp;предоставлении водных объектов
            в&nbsp;пользование. В&nbsp;Водном Кодексе говорится, что получить
            право пользования водным объектом на&nbsp;основании Решения
            о&nbsp;водопользовании можно для&nbsp;следующих целей:
          </p>
          <ul>
            <li>обеспечение обороны страны;</li>
            <li>использование водного транспорта;</li>
            <li>сброс сточных вод и&nbsp;другие хозяйственные нужды;</li>
            <li>
              строительство, реконструкция гидротехнических сооружений
              и&nbsp;буровых установок, мостов;
            </li>
            <li>добыча полезных ископаемых;</li>
            <li>изменение рельефа дна, подъем затонувших суден;</li>
            <li>
              изъятие водных ресурсов для гидромелиорации земли, осуществления
              аквакультуры.
            </li>
          </ul>
        </div>
      </div>
      <div class="wblock__right obtain-text__img">
        <img src="./img/blobs.webp" alt="" />
      </div>
    </div>
    <div class="text-block obtain-text__text desc1">
      <p>
        Решение водопользования водным объектом будет выдано в&nbsp;соответствии
        с&nbsp;видом деятельности предприятия, его целей
        и&nbsp;их&nbsp;соотношения с&nbsp;перечнем прав на&nbsp;пользование,
        указанным в&nbsp;Кодексе. Данные, необходимые для выдачи решения
        о&nbsp;предоставлении водных объектов в&nbsp;пользование Решение
        о&nbsp;предоставлении водного объекта в&nbsp;пользование производится
        в&nbsp;соответствии с&nbsp;приказом
        <b>N&nbsp;56 Минприроды от&nbsp;14.03.07&nbsp;г.</b> Список документов,
        которые понадобятся для&nbsp;оформления решения для сброса сточных
        и&nbsp;дренажных вод, индивидуален. В&nbsp;требуемый пакет документов
        чаще всего входят:
      </p>
      <ul>
        <li>
          Копии документы, которые подтверждают право собственности (например,
          выписка из&nbsp;Единого государственного реестра индивидуальных
          предпринимателей или юридических лиц)
        </li>
        <li>
          Документы из&nbsp;налоговой, например, свидетельство о&nbsp;постановке
          на&nbsp;учёт Перечень мероприятий, планируемых
          в&nbsp;водохозяйственной сфере
        </li>
        <li>
          Документ, предоставляющий право пользования земельным участком,
          который необходим для водопользования
        </li>
        <li>
          Графические материалы (например, карта водного объекта)
          с&nbsp;указанием мест предполагаемого сброса сточных вод
        </li>
        <li>
          Расчёт объёма сброса сточных вод, анализ их&nbsp;качества, описание
          предполагаемых методов очистки
        </li>
        <li>Сведения об&nbsp;очистных и&nbsp;водозаборных сооружениях</li>
        <li>
          Программа регулярных наблюдений за&nbsp;водным объектом и&nbsp;его
          водоохранной зоной
        </li>
        <li>Письмо о&nbsp;согласовании точки сброса</li>
        <li>
          Баланс водопотребления и&nbsp;водоотведения.(Cогласования
          по&nbsp;пунктам 5&nbsp;и&nbsp;6&nbsp;проводятся параллельно.)
        </li>
      </ul>
    </div>
  </div>
</section>
