<section class="ssingle-dev ssingle-dev--last">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title3 title3--accent">
        Минимальная стоимость подготовки полного пакета документов
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Минимальная стоимость подготовки полного пакета документов для
          получения Решения о&nbsp;предоставлении водного объекта
          в&nbsp;пользование составляет <b>150 тысяч рублей. </b>
        </p>
        <p>
          Цена значительно варьируется в&nbsp;зависимости от&nbsp;того, какие
          документы уже готовы, а&nbsp;какие придётся оформлять.
          В&nbsp;стоимость включено сопровождение во&nbsp;время рассмотрения
          в&nbsp;надзорных органах. Сроки разработки решения
          на&nbsp;водопользование Срок подготовки документов и&nbsp;получения
          Решения составляет от&nbsp;1&nbsp;месяца при наличии всех
          предварительных документов.
        </p>
        <p><b>Срок действия: </b></p>
        <p>
          Решение о&nbsp;предоставление водного объекта в&nbsp;пользование
          по&nbsp;усмотрению уполномоченных государственных органов выдаётся
          на&nbsp;срок от&nbsp;1&nbsp;до&nbsp;5&nbsp;лет.
        </p>
      </div>
    </div>
  </div>
</section>
