<section class="pair">
  <div class="container">
    <div class="wblock wblock--2 pair__container">
      <div class="pair__item wblock__left">
        <h2 class="pair__title title3 title3--accent">
          Кому может понадобиться<br />Решение водопользования?
        </h2>
        <div class="desc1 pair__desc">
          <p>
            Решение должно оформляться любым предприятием, которое планирует
            использование водных ресурсов природного происхождения или
            водохранилищ. Решение могут получить частные или юридические лица
            и&nbsp;может предусматривать индивидуальное или совместное
            пользование водным объектом.
          </p>
          <p>
            Также предусматривается возврат воды обратно в&nbsp;водоём
            после&nbsp;использования, если это технически возможно.
          </p>
        </div>
      </div>
      <div class="wblock__right pair__item">
        <h2 class="pair__title title3 title3--accent">
          Почему необходимо решение на&nbsp;предоставление водных объектов
          в&nbsp;пользование?
        </h2>
        <div class="desc1 pair__desc">
          <p>
            Все природные водные объекты являются собственностью государства
            об&nbsp;этом сказано в&nbsp;Конституции РФ. Таким образом, любое
            иное лицо (физическое или юридическое) должно получить разрешение
            на&nbsp;то, чтобы пользоваться водными ресурсами из&nbsp;рек, озёр,
            источников и&nbsp;т.д.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
