<section class="our-service">
  <div class="container">
    <div class="our-service__header">
      <h2 class="title2 our-service__title">Наши услуги</h2>
      <a href="#" class="btn btn--small our-service__btn"> Все&nbsp;услуги </a>
    </div>
    <div class="our-service__items">
      <article class="our-service__item service-item">
        <a href="#" class="service-item__link"></a>
        <div class="service-item__img">
          <img src="./img/service/01.webp" alt="" />
        </div>
        <div class="service-item__content">
          <h4 class="service-item__title capture1">Проектирование&nbsp;ОС</h4>
        </div>
      </article>
      <article class="our-service__item service-item">
        <a href="#" class="service-item__link"></a>
        <div class="service-item__img">
          <img src="./img/service/02.webp" alt="" />
        </div>
        <div class="service-item__content">
          <h4 class="service-item__title capture1">
            Строительство и&nbsp;ввод в&nbsp;эксплуатацию&nbsp;ОС
          </h4>
        </div>
      </article>
      <article class="our-service__item service-item">
        <a href="#" class="service-item__link"></a>
        <div class="service-item__img">
          <img src="./img/service/03.webp" alt="" />
        </div>
        <div class="service-item__content">
          <h4 class="service-item__title capture1">
            Получение решения о&nbsp;предоставлении водного объекта
            в&nbsp;пользование
          </h4>
        </div>
      </article>
      <article class="our-service__item service-item">
        <a href="#" class="service-item__link"></a>
        <div class="service-item__img">
          <img src="./img/service/04.webp" alt="" />
        </div>
        <div class="service-item__content">
          <h4 class="service-item__title capture1">
            Разработка экологической документации
          </h4>
        </div>
      </article>
    </div>
  </div>
</section>
