<section class="our-service">
  <div class="container">
    <div class="our-service__header">
      <h2 class="title2 our-service__title">Наши услуги</h2>
      <a href="#" class="btn btn--small our-service__btn"> Все&nbsp;услуги </a>
    </div>
    <div class="our-service__slider swiper">
      <div class="our-service__items swiper-wrapper">
        <article class="our-service__item swiper-slide service-item">
          <a href="#" class="service-item__link"></a>
          <div class="service-item__img">
            <img src="./img/service/01.webp" alt="" />
          </div>
          <div class="service-item__content">
            <h4 class="service-item__title capture1">Проектирование&nbsp;ОС</h4>
          </div>
        </article>
        <article class="our-service__item swiper-slide service-item">
          <a href="#" class="service-item__link"></a>
          <div class="service-item__img">
            <img src="./img/service/02.webp" alt="" />
          </div>
          <div class="service-item__content">
            <h4 class="service-item__title capture1">
              Строительство и&nbsp;ввод в&nbsp;эксплуатацию&nbsp;ОС
            </h4>
          </div>
        </article>
        <article class="our-service__item swiper-slide service-item">
          <a href="#" class="service-item__link"></a>
          <div class="service-item__img">
            <img src="./img/service/03.webp" alt="" />
          </div>
          <div class="service-item__content">
            <h4 class="service-item__title capture1">
              Получение решения о&nbsp;предоставлении водного объекта
              в&nbsp;пользование
            </h4>
          </div>
        </article>
        <article class="our-service__item swiper-slide service-item">
          <a href="#" class="service-item__link"></a>
          <div class="service-item__img">
            <img src="./img/service/04.webp" alt="" />
          </div>
          <div class="service-item__content">
            <h4 class="service-item__title capture1">
              Разработка экологической документации
            </h4>
          </div>
        </article>
      </div>
    </div>
    <div class="our-service__bottom">
      <a href="#" class="btn btn--small our-service__btn our-service__btn--mob">
        Все&nbsp;услуги
      </a>
      <div class="our-service__control control">
        <button
          class="btn-reset control__btn control__btn--prev our-service-prev"
        >
          <svg
            width="13"
            height="20"
            viewBox="0 0 13 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19L1.58259 10.0743C1.53845 10.0346 1.53845 9.9654 1.58259 9.92567L11.5 1"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <button
          class="btn-reset control__btn control__btn--next our-service-next"
        >
          <svg
            width="13"
            height="20"
            viewBox="0 0 13 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19L1.58259 10.0743C1.53845 10.0346 1.53845 9.9654 1.58259 9.92567L11.5 1"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
