<section class="complete complete--flok">
  <div class="container">
    <div class="wblock wblock--white wblock--39 corner-smooth-50">
      <div class="wblock__left complete__img corner-smooth-50">
        <picture>
          <source
            srcset="./img/flok-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/flok.webp" alt="" />
        </picture>
      </div>
      <div class="wblock__right complete__content">
        <h2 class="title3 complete__title">Флокуляция</h2>
        <div class="desc1 complete__desc">
          <p>
            После стадии очистки&nbsp;&mdash; коагуляции выполняется флокуляция
            (мягкая стадия смешивания).
          </p>
          <p>
            Основная задача флокуляции является увеличение объёма мелких
            взвешенных частиц (находящихся в&nbsp;стоке после&nbsp;удаления
            крупных агрегатов) от&nbsp;размера субмикроскопического
            до&nbsp;размера его видимых образований.
          </p>
          <p>
            Мелкие взвешанные частицы контактируют один с&nbsp;другим
            в&nbsp;процессе флокуляции с&nbsp;медленным перемешиванием.
            Столкновения частиц образуют связь, которая приводит, в&nbsp;свою
            очередь, к&nbsp;формированию объёмных видимых хлопьев.
          </p>
          <p>
            Флокулянты представляют собой высокомолекулярные соединения.
            Молекулы флокулянта контактируют с&nbsp;частицами примесей, что
            приводит к&nbsp;агрегации загрязнений. Мелкие частицы переходят
            во&nbsp;взвешенное состояние. Обычно этот метод дополнительно
            используют коагуляцией, что&nbsp;бы ускорить выпадение в&nbsp;осадок
            хлопьев и&nbsp;сократить объёмы необходимого коагулянта.
          </p>
        </div>
        <div class="desc1 complete__desc">
          <p>
            <b> При добавлении флокулянта происходят следующие воздействия: </b>
          </p>
          <ul>
            <li>
              на&nbsp;поверхностном слое коллоидных частиц адсорбируются
              молекулы коагулянта;
            </li>
            <li>молекулы флокулянта образуют сетчатую структуру;</li>
            <li>
              воздействие сил Ван-дер-Ваальса заставляет коллоидные частицы
              слипаться.
            </li>
          </ul>
          <p>
            Очистка этим способам очень проста в&nbsp;реализации
            и&nbsp;применении. Сначала подбирают необходимый объём флокулянта
            и&nbsp;добавляют его в&nbsp;воду. Выпадают хлопья, которые забирают
            механическим методом.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
