<section class="ssingle-dev ssingle-dev--phisco">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title4 title4--accent">
        Физико-химическая обработка способствует изъятию из&nbsp;сточной воды
        тонкодисперсные и&nbsp;растворённые неорганические вещества,
        так&nbsp;же&nbsp;разрушает трудноокисляемые и&nbsp;органические
        соединения.
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Так&nbsp;же этот метод очистки сточных вод обладает обширными
          возможностями:
        </p>
        <ul>
          <li>достигается глубокая очистка сточных вод;</li>
          <li>возможность удаления неокисляемых токсических загрязнений;</li>
          <li>возможность минимизировать габариты очистных сооружений;</li>
          <li>слабая чувствительность к&nbsp;переменным нагрузок;</li>
          <li>высокая степень автоматизирования всех процессов очистки;</li>
          <li>
            отсутствие в&nbsp;процессе живых организмов отпадает необходимость
            контроля за&nbsp;их&nbsp;работой;
          </li>
          <li>допустимо рекупирация веществ;</li>
        </ul>
        <p>
          <b>
            Эффективность выбора конкретного метода очистки опирается
            на&nbsp;технические и&nbsp;санитарные требования, количеством
            и&nbsp;состав примесей в&nbsp;сточной воде и&nbsp;её&nbsp;объёмом.
          </b>
        </p>
      </div>
    </div>
    <div class="ssingle-dev__content">
      <h2 class="ssingle-dev__title title4 title4--accent">
        Физико-химический способ очистки стоков имеет несколько
        разновидностей:<br />
        Коагуляция, адсорбция, флотация, экстракция, ионный обмен,
        диализ&nbsp;и&nbsp;др.
      </h2>
    </div>
  </div>
</section>
