<section class="onaer onaer--ion">
  <div class="container">
    <div
      class="wblock wblock--white wblock--75 onaer__container onaer__container--reverse corner-smooth-50"
    >
      <div class="wblock__left onaer__content">
        <div class="onaer__text">
          <h3 class="title3 onaer__title">Ионный обмен</h3>
          <div class="desc1 onaer__desc">
            <p>
              Применение данного метода, при очистке сточных вод позволяет
              извлекать и&nbsp;утилизировать ценные примеси (хром, цинк, свинец,
              медь, ртуть и&nbsp;другие металлы а&nbsp;очищенную воду повторно
              использовать в&nbsp;технологических процессах в&nbsp;системах
              с&nbsp;оборотным водоснабжением.
            </p>
          </div>
        </div>
        <div class="onaer__text">
          <div class="desc1 onaer__desc">
            <p>
              Ионный обмен&nbsp;&mdash; это процесс обмена между ионами,
              находящимися в&nbsp;растворе, и&nbsp;ионами, присутствующими
              на&nbsp;поверхности ионита, его применяют:
            </p>
            <ul>
              <li>
                если концентрация загрязняющих веществ
                в&nbsp;растворе&nbsp;&mdash; низкая;
              </li>
              <li>
                когда предъявляются повышенные требования к&nbsp;очищенной воде,
                при выходе из&nbsp;очистных сооружений. Метод применяется
                на&nbsp;завершающей стадии процесса очистки;
              </li>
              <li>
                для получения воды высокой степени очистки. Такую воду можно
                использовать при работе котлов высоких параметров
                на&nbsp;тепловых и&nbsp;атомных электростанциях.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="wblock__right onaer__img corner-smooth-50">
        <picture>
          <source
            srcset="./img/ion-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/ion.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
