<section class="ssingle-dev ssingle-dev--ext ssingle-dev--phisco">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2
        class="ssingle-dev__title ssingle-dev__title--12 title3 title3--accent"
      >
        Экстракция
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Экстра&#769;кция&nbsp;&mdash; способ извлечения вещества
          из&nbsp;раствора или сухой смеси с&nbsp;помощью подходящего
          растворителя (экстраге&#769;нта).
        </p>
        <p>
          Для извлечения из&nbsp;смеси применяются растворители,
          не&nbsp;смешивающиеся с&nbsp;этой смесью.
        </p>
        <p>
          Жидкостную экстракцию применяют для&nbsp;очистки сточных вод,
          содержащих фенолы, масла, органические кислоты, ионы металлов
        </p>
        <p>
          Данный метод очистки сточных вод нашёл широко применяется
          при&nbsp;очистке стоков от&nbsp;органических примесей. Применение
          экстракции экономически приемлем при&nbsp;значительных концентрациях
          извлекаемых веществ или когда извлекаемые вещества имеют высокую
          ценность, а&nbsp;также когда стоки высокотоксичные и&nbsp;другие
          методы не&nbsp;приемлемы.
        </p>
      </div>
    </div>
  </div>
</section>
