<section class="ssingle-dev ssingle-dev--phisco">
  <div class="container">
    <div class="ssingle-dev__content">
      <h2
        class="ssingle-dev__title ssingle-dev__title--12 title3 title3--accent"
      >
        Адсорбция
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Адсорбция&nbsp;&mdash; явление поглощения одним веществом других
          веществ
        </p>
        <p>
          Процесс поглощения, поверхностным слое одного вещества (обычно
          твёрдого микропористого материала) другое вещество называется
          адсорбция.
        </p>
        <p>
          Поглощающий материал называется адсорбентом, а&nbsp;поглощаемое
          соединение&nbsp;&mdash; адсорбатом.
        </p>
        <p>
          Адсорберы это устройства или технические агрегаты, в&nbsp;которых
          реализуется процесс адсорбции.
        </p>
        <p>
          В&nbsp;качестве погашающего вещества является активированный уголь,
          способный на&nbsp;захват множества опасных и&nbsp;биологически
          активных газов и&nbsp;аэрозолей. Но&nbsp;также могут применяются
          и&nbsp;другие фильтрующие материалы&nbsp;&mdash; алюмосиликаты
          (природные и&nbsp;синтетические цеолиты), силикагель, микропористые
          полимеры, в&nbsp;том числе, с&nbsp;включениями активных металлов.
        </p>
        <p>
          Основной узел любого очистного устройства&nbsp;&mdash; это одна или
          несколько камер, заполненных твёрдым адсорбентом. Загрязнённый
          воздушный или газовый поток подводится в&nbsp;рабочую зону устройства,
          где он&nbsp;вынужден проходить через насыпной или иным образом
          организованный фильтр, как через молекулярное сито. Крупные молекулы
          задерживаются в&nbsp;порах адсорбента, а&nbsp;соединения с&nbsp;малым
          размером свободно проходят через фильтр.
        </p>
        <p>
          Особенностью работы адсорберов является постепенное насыщение
          фильтрующего материала, что снижает эффективность нейтрализации
          вредных или опасных веществ. В&nbsp;целях восстановления
          результативности фильтрации адсорбент можно либо заменить
          на&nbsp;новый, либо провести операцию т.н. регенерации, то&nbsp;есть,
          восстановления исходных свойств фильтроматериала.
        </p>
        <p>
          Вообще, адсорбция, в&nbsp;том или ином виде, сопутствует
          не&nbsp;только множеству технологических, но&nbsp;и&nbsp;бытовых
          операций
        </p>
      </div>
    </div>
  </div>
</section>
