<section class="ssingle-dev ssingle-dev--last">
  <div class="container">
    <div class="ssingle-dev__content corner-smooth-50">
      <h2
        class="ssingle-dev__title ssingle-dev__title--12 title3 title3--accent"
      >
        Диализ
      </h2>
      <div class="desc1 ssingle-dev__desc">
        <p>
          Диализ это процесс очистки смесей от&nbsp;целевых веществ. При помощи
          мембран из&nbsp;смеси выводятся низкомолекулярные
          вещества&nbsp;&mdash; небольшие молекулы, а&nbsp;высокомолекулярные
          соединения (макромолекулы, такие как белки и&nbsp;ДНК) остаются
          в&nbsp;растворе.
        </p>
        <p>
          Если обычные фильтры применяют для удаления из&nbsp;воды относительно
          крупных образований, применение мембранных технологий&nbsp;&mdash;
          необходимо для&nbsp;извлечения мелких коллоидных частиц, а&nbsp;также
          растворённых соединений. Для&nbsp;этого мембраны должны иметь поры
          очень малого размера.
        </p>
      </div>
    </div>
  </div>
</section>
