<section class="service-func service-func--koa">
  <div class="container">
    <div
      class="service-func__container service-func__container--reverse corner-smooth-50"
    >
      <div class="service-func__content">
        <h2 class="title3 service-func__title">Коагуляция</h2>
        <div class="desc1 service-func__desc">
          <p>
            (это физико-химические процессы слипания мелких частиц в&nbsp;более
            крупные агрегаты под влиянием сил сцепления)
          </p>
          <p>
            Коагуляция при очистке сточных вод в&nbsp;основном используется
            на&nbsp;предприятиях текстильной, лёгкой, нефтехимической,
            целлюлознобумажной, химической и&nbsp;др. производствах.
          </p>
          <p>
            Данный метод очистки состоит в&nbsp;добавление к&nbsp;сточным водам
            активных коагулянтов: соли аммония, меди, железа и&nbsp;т.д.
          </p>
          <p>
            В&nbsp;процессе реакции загрязняющие вещества и&nbsp;коагулянтов
            образуют крупные агрегаты и&nbsp;выпадают в&nbsp;осадок хлопьями,
            которые после легко удаляются. Для форсирования осадка могут
            использоваться эмульгированные или тонкодисперсные вещества.
            Эффективно удаляются частицы от&nbsp;1&nbsp;до&nbsp;100&nbsp;мкм.
            Возможно самопроизвольное протекание очистки.
          </p>
          <p>
            Этот метод имеет эффективность до&nbsp;95% удаления загрязняющих
            веществ.
          </p>
        </div>
      </div>
      <div class="service-func__img">
        <picture>
          <source
            srcset="./img/koa-mob.webp"
            type="image/webp"
            media="(max-width: 768px)"
          />
          <img src="./img/koa.webp" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
