<section class="proj">
  <div class="container">
    <div class="proj__container">
      <div class="proj__content">
        <h2 class="title2 proj__title">
          Проектирование<br />
          Строительство<br />
          Экологическая документация
        </h2>
        <div class="desc1 proj__desc">
          <p>
            Мы&nbsp;выполняем
            <b>все этапы работ по&nbsp;проектированию и&nbsp;строительству</b>
            очистных сооружений &laquo;под ключ&raquo;, начиная со&nbsp;всех
            необходимых инженерных изысканий, аудита.
          </p>
          <p>
            Наш опыт и&nbsp;компетенции, наработанные с&nbsp;2012&nbsp;года,
            позволяют эффективно решать
            <b>полный комплекс задач</b> от&nbsp;установки паспортизированных
            мини-очистных станций, до&nbsp;разработки уникальных проектов
            очистных сооружений для очистки сложных производственных сточных
            вод&nbsp;под&nbsp;индивидуальные запросы Заказчика.
          </p>
          <p>
            Выполняем как отдельные специальные экологические работы, так
            и&nbsp;комплексно:
          </p>
          <ul>
            <li>
              расчёт и&nbsp;утверждение границ санитарно-защитной зоны (СЗЗ);
            </li>
            <li>
              расчёт нормативов допустимых сбросов (НДС) загрязняющих веществ
              в&nbsp;водный объект
            </li>
            <li>
              получение решения о&nbsp;предоставлении водного объекта
              в&nbsp;пользование как для забора воды, так&nbsp;и&nbsp;для сброса
              очищенных стоков
            </li>
            <li>
              расчёт оценки воздействия на&nbsp;водные биологические ресурсы
              (ОВВБР) и&nbsp;согласование его&nbsp;в&nbsp;Федеральном агентстве
              по&nbsp;рыболовству.
            </li>
          </ul>
        </div>
        <div class="proj__items">
          <div class="proj__item">
            <span>11</span>
            Лет&nbsp;на&nbsp;страже чистоты воды
          </div>
          <div class="proj__item">
            <span>3</span>
            Дня на&nbsp;подготовку предварительного коммерческого предложения
          </div>
          <div class="proj__item">
            <span>7</span>
            Дней на&nbsp;разработку предварительной технологической схемы
          </div>
        </div>
      </div>
      <div class="proj__img">
        <img src="./img/proj.webp" alt="" />
      </div>
    </div>
  </div>
</section>
