<section class="service-design">
  <div class="container">
    <div class="service-design__container corner-smooth-50">
      <h2 class="title3 title3--accent service-design__title">
        Разработка Технологических Решений для очистных сооружений
      </h2>
      <div class="service-design__desc desc1">
        <p>
          Для выработки решения, гарантирующего достижение требуемых параметров
          очищенных сточных вод выполняются следующие работы:
        </p>
        <ul>
          <li>
            Подготовка, совместно с&nbsp;Заказчиком, Технического задания
            на&nbsp;разработку технологического процесса очистки сточных вод;
          </li>
          <li>
            изучение, инвентаризация, классификация источников образования
            загрязнений в&nbsp;результате производственных процессов
            предприятия&nbsp;— производственных, хозяйственно-бытовых
            и&nbsp;ливневых стоков;
          </li>
          <li>отбор проб, проведение лабораторного анализа сточных вод;</li>
          <li>
            разработка принципиального технологического решения для&nbsp;ОС;
          </li>
          <li>
            подтверждение в&nbsp;лабораторных условиях выбранного
            технологического решения по&nbsp;очистке стоков;
          </li>
          <li>
            согласование с&nbsp;Заказчиком, подтверждённого испытаниями,
            технологического решения способа очистки;
          </li>
          <li>
            определение принципиального состава технологического оборудования;
          </li>
          <li>
            утверждение Заказчиком технологической схемы очистки сточных вод;
          </li>
          <li>
            согласование Заказчиком предварительной оценки стоимости решения.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
