<section class="service-design">
  <div class="container">
    <div class="service-design__container corner-smooth-50">
      <h2 class="title3 title3--accent service-design__title">
        Работы по&nbsp;реконструкции очистных сооружений
      </h2>
      <div class="service-design__desc desc1">
        <p>
          Услуги по&nbsp;реконструкции очистных сооружений включают в&nbsp;себя:
        </p>
        <ul>
          <li>Оценку состояния объекта, подготовку дефектовочной ведомости;</li>
          <li>
            разработку и&nbsp;согласование проекта реконструкции очистных
            сооружений;
          </li>
          <li>ремонтные и&nbsp;монтажные работы;</li>
          <li>
            поставку и&nbsp;замену технологического оборудования
            (при&nbsp;необходимости);
          </li>
          <li>
            восстановление работоспособности очистных сооружений
            в&nbsp;проектных параметрах.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
