<section class="prepare">
  <div class="container">
    <div
      class="wblock wblock--48 wblock--white prepare__container corner-smooth-50"
    >
      <div class="wblock__left prepare__img corner-smooth-50">
        <img src="./img/prepare.webp" alt="" />
      </div>
      <div class="prepare__right wblock__right">
        <h2 class="title3 prepare__title">
          Подготовка экологической документация при&nbsp;строительстве очистных
          сооружений
        </h2>
        <div class="desc1 prepare__desc">
          <p>
            Оказываем техническое сопровождение, разработку полного пакета
            экологической документации при&nbsp;строительстве, реконструкции
            и&nbsp;вводе в&nbsp;эксплуатацию очистных сооружений, в&nbsp;т.ч.:
          </p>
          <ul>
            <li>
              разработка и&nbsp;согласование Проекта нормативов допустимых
              сбросов (НДС);
            </li>
            <li>
              выполнение расчётов и&nbsp;разработка Проекта санитарно-защитной
              зоны (СЗЗ);
            </li>
            <li>
              экспертиза проекта в&nbsp;уполномоченных органах ФБУЗ «Центр
              гигиены и&nbsp;эпидемиологии»;
            </li>
            <li>
              получение Справки рыбо-хозяйственной характеристики водного
              объекта (РХХ);
            </li>
            <li>
              получение гидрологической и&nbsp;фоновой характеристики водного
              объекта;
            </li>
            <li>
              получение Справки об&nbsp;отношении водного объекта
              к&nbsp;источнику питьевого водоснабжения;
            </li>
            <li>
              разработка Расчёта оценки воздействия на&nbsp;водные биологические
              ресурсы с&nbsp;расчётом компенсационного ущерба, мониторингом
              (ОВОС).
            </li>
            <li>
              получение Решения о&nbsp;предоставлении водного объекта
              в&nbsp;пользование в&nbsp;Министерстве экологии
              и&nbsp;природопользования&nbsp;и&nbsp;др.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
