<section class="working">
  <div class="container">
    <h2 class="title2 title2--accent working__title">Как мы работаем:</h2>
    <div class="working__items">
      <div class="working__item">
        <h4 class="working__capture title4 title4--accent">
          Предварительный этап
        </h4>
        <div class="desc1 working__desc">
          <ul>
            <li>
              Регистрация и&nbsp;отработка поступившей Заявки (предварительная
              консультация)
            </li>
            <li>Сбор&nbsp;исходных данных</li>
            <li>
              Консультация о&nbsp;предполагаемых вариантах решений, способах
              очистки
            </li>
          </ul>
        </div>
      </div>
      <div class="working__item">
        <h4 class="working__capture title4 title4--accent">
          Проектирование очистных сооружений
        </h4>
        <div class="desc1 working__desc">
          <ul>
            <li>
              Разработка проектно-сметной документации (стадии П&nbsp;и&nbsp;Р)
            </li>
            <li>
              Экспертиза проектной документации (коммерческая
              или&nbsp;государственная)
            </li>
          </ul>
        </div>
      </div>
      <div class="working__item">
        <h4 class="working__capture title4 title4--accent">
          Строительно-монтажные работы
        </h4>
        <div class="desc1 working__desc">
          <ul>
            <li>Получение разрешения на&nbsp;строительство</li>
            <li>Проведение общих строительно-монтажных работ</li>
            <li>Производство и&nbsp;поставка технологического оборудования</li>
            <li>Монтаж и&nbsp;обвязка технологического оборудования</li>
            <li>
              Монтаж автоматических систем управления технологическим процессом
            </li>
          </ul>
        </div>
      </div>
      <div class="working__item">
        <h4 class="working__capture title4 title4--accent">
          Пуско-наладочные работы
        </h4>
        <div class="desc1 working__desc">
          <p>
            Полный комплекс работ по&nbsp;подготовке, проведению тестовых
            испытаний и&nbsp;комплексного опробования технологического
            оборудования. Гарантия безопасной и&nbsp;стабильной эксплуатации
            систем и&nbsp;оборудования в&nbsp;дальнейшем.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
