<section class="service-func">
  <div class="container">
    <div class="service-func__container corner-smooth-50">
      <div class="service-func__content">
        <h2 class="title3 service-func__title">
          Выполнение функций Генерального проектировщика
        </h2>
        <div class="desc1 service-func__desc">
          <p>
            Выполняем широкий спектр функций Генерального проектировщика
            по&nbsp;организации проектирования очистных сооружений, в&nbsp;том
            числе:
          </p>
          <ul>
            <li>
              разработка Технического Задания на&nbsp;проектирование
              строительства/реконструкции ОС;
            </li>
            <li>
              разработка Проектной документации на&nbsp;всех стадиях
              проектирования в&nbsp;соответствии с&nbsp;Постановлением
              Правительства РФ&nbsp;№&nbsp;87&nbsp;от&nbsp;16.02.2008&nbsp;г;
            </li>
            <li>
              техническое сопровождения проектной документации
              при&nbsp;прохождении Заказчиком экспертизы коммерческой
              или&nbsp;государственной;
            </li>
            <li>
              авторский надзор за&nbsp;соблюдением Генподрядчиком
              в&nbsp;процессе строительства требований проектной документации,
              технических характеристик возводимых сооружений;
            </li>
            <li>
              по&nbsp;поручению Заказчика подготовка, разработка, комплектация
              исходно-разрешительной документации (ИРД).
            </li>
          </ul>
        </div>
      </div>
      <div class="service-func__img corner-smooth-50">
        <img src="./img/service-func.webp" alt="" />
      </div>
    </div>
  </div>
</section>
