<section class="complete">
  <div class="container">
    <div class="wblock wblock--white wblock--39 corner-smooth-50">
      <div class="wblock__left complete__img corner-smooth-50">
        <img src="./img/complete.webp" alt="" />
      </div>
      <div class="wblock__right complete__content">
        <h2 class="title3 complete__title">
          Выполнение функций<br />
          Генерального подрядчика строительства
        </h2>
        <div class="desc1 complete__desc">
          <p>
            Основные функции генерального подрядчика по&nbsp;организации
            строительства очистных сооружений:
          </p>
          <ul>
            <li>
              согласование с&nbsp;Заказчиком графика, объёмов, сроков выполнения
              строительных работ;
            </li>
            <li>организация и&nbsp;контроль процесса строительных работ;</li>
            <li>
              совместно с&nbsp;Заказчиком и&nbsp;Генпроектировщиком, оптимизация
              технических решений без&nbsp;ущерба качеству
              и&nbsp;сроков&nbsp;выполнения работ;
            </li>
            <li>
              своевременное решение возникающих технических
              и&nbsp;организационных вопросов строительства;
            </li>
            <li>
              выполнение исполнительной документации по&nbsp;всем работам,
              включая инструкции по&nbsp;эксплуатации, сервисному обслуживанию
              и&nbsp;ремонту сооружений, всех его&nbsp;частей, систем
              и&nbsp;технологического оборудования;
            </li>
            <li>взаимодействие с&nbsp;Государственными надзорными органами;</li>
            <li>
              подготовка и&nbsp;обучение персонала Заказчика
              для&nbsp;эксплуатации инженерных систем и&nbsp;технологического
              оборудования очистных сооружений;
            </li>
            <li>
              подготовка и&nbsp;сдача Заказчику полного комплекта исполнительной
              документации;
            </li>
            <li>гарантийное обслуживание очистных сооружений;</li>
            <li>
              совместно с&nbsp;Заказчиком, участие в&nbsp;работе комиссии
              по&nbsp;вводу очистных сооружений в&nbsp;эксплуатацию.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
