<section class="services-hero">
  <div class="container">
    <h1 class="title1 services-hero__title">Наши услуги</h1>

    <div class="services-hero__container corner-smooth-50">
      <article class="services-hero__item corner-smooth-50 s-item">
        <div class="s-item__img corner-smooth-50">
          <img src="./img/services/01.webp" alt="" />
        </div>
        <div class="s-item__content">
          <div class="s-item__text">
            <h4 class="s-item__title subtitle1">Проектирование&nbsp;ОС</h4>
            <p class="s-item__desc desc2">
              Разрабатываем проектную документацию в&nbsp;соответствии
              с&nbsp;Постановлением Правительства РФ
              &#8470;&nbsp;87&nbsp;от&nbsp;16.02.
              2008&nbsp;г.&nbsp;&laquo;О&nbsp;составе разделов проектной
              документации и&nbsp;требованиях к&nbsp;их&nbsp;содержанию&raquo;.
            </p>
          </div>
          <div class="s-item__buttons">
            <button class="btn-reset s-item__btn btn btn--blue btn--small">
              Заказать
            </button>
            <a href="#" class="btn-reset s-item__btn btn btn--small">
              Подробнее
            </a>
          </div>
        </div>
      </article>
      <article class="services-hero__item corner-smooth-50 s-item">
        <div class="s-item__img corner-smooth-50">
          <img src="./img/services/02.webp" alt="" />
        </div>
        <div class="s-item__content">
          <div class="s-item__text">
            <h4 class="s-item__title subtitle1">
              Строительство и&nbsp;ввод в&nbsp;эксплуатацию&nbsp;ОС
            </h4>
            <p class="s-item__desc desc2">
              Производим полный комплекс строительных работ, монтаж
              технологического оборудования и&nbsp;пусконаладочные работы
            </p>
          </div>
          <div class="s-item__buttons">
            <button class="btn-reset s-item__btn btn btn--blue btn--small">
              Заказать
            </button>
            <a href="#" class="btn-reset s-item__btn btn btn--small">
              Подробнее
            </a>
          </div>
        </div>
      </article>
      <article class="services-hero__item corner-smooth-50 s-item">
        <div class="s-item__img corner-smooth-50">
          <img src="./img/services/03.webp" alt="" />
        </div>
        <div class="s-item__content">
          <div class="s-item__text">
            <h4 class="s-item__title subtitle1">
              Разработка экологической документации
            </h4>
            <p class="s-item__desc desc2">
              Подготовка всей необходимой документации для соблюдения
              экологического законодательства.
            </p>
          </div>
          <div class="s-item__buttons">
            <button class="btn-reset s-item__btn btn btn--blue btn--small">
              Заказать
            </button>
            <a href="#" class="btn-reset s-item__btn btn btn--small">
              Подробнее
            </a>
          </div>
        </div>
      </article>
      <article class="services-hero__item corner-smooth-50 s-item">
        <div class="s-item__img corner-smooth-50">
          <img src="./img/services/04.webp" alt="" />
        </div>
        <div class="s-item__content">
          <div class="s-item__text">
            <h4 class="s-item__title subtitle1">
              Получение решения о&nbsp;предоставлении водного объекта
              в&nbsp;пользование
            </h4>
            <p class="s-item__desc desc2">
              Решение должно оформляться любым предприятием, которое планирует
              использование водных ресурсов природного происхождения или
              водохранилищ. Решение могут получить частные или юридические лица
              и&nbsp;может предусматривать индивидуальное или совместное
              пользование водным объектом.<br />
              Также предусматривается возврат воды обратно в&nbsp;водоём после
              использования, если это технически возможно.
            </p>
          </div>
          <div class="s-item__buttons">
            <button class="btn-reset s-item__btn btn btn--blue btn--small">
              Заказать
            </button>
            <a href="#" class="btn-reset s-item__btn btn btn--small">
              Подробнее
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
