<section class="types">
  <div class="container">
    <h1 class="title1 types__title">Типы сточных&nbsp;вод</h1>
    <div class="types__items">
      <div class="types__item corner-smooth-50">
        <a href="#" class="types__link"></a>
        <div class="types__header">
          <p class="types__capture subtitle1">Производственные стоки</p>
          <div class="types__btn"></div>
        </div>
        <div class="types__img corner-smooth-50">
          <img src="./img/types/cover1.webp" alt="" />
        </div>
      </div>
      <div class="types__item corner-smooth-50">
        <a href="#" class="types__link"></a>
        <div class="types__header">
          <p class="types__capture subtitle1">Хозяйственно-бытовые стоки</p>
          <div class="types__btn"></div>
        </div>
        <div class="types__img corner-smooth-50">
          <img src="./img/types/cover2.webp" alt="" />
        </div>
      </div>
      <div class="types__item corner-smooth-50">
        <a href="#" class="types__link"></a>
        <div class="types__header">
          <p class="types__capture subtitle1">Ливневые сточные воды</p>
          <div class="types__btn"></div>
        </div>
        <div class="types__img corner-smooth-50">
          <img src="./img/types/cover3.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
