<section class="work-hero work-hero--voronezh">
  <div class="work-hero__block">
    <div class="container">
      <div class="wblock wblock--white work-hero__container">
        <div class="work-hero__content">
          <h1 class="title3 work-hero__title">
            Очистка промышленных стоков (промывочная смазочно-охлаждающая
            жидкость (СОЖ), насыщенная мелкодисперсной пылью кремния)
          </h1>
          <div class="desc1 work-hero__desc">
            <p>
              ООО&nbsp;&laquo;СОЛАР Кремниевые технологии&raquo;, г. Подольск
            </p>
          </div>
        </div>
        <div class="work-hero__img">
          <img src="./img/works/04-cover.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="work-hero__block">
    <div class="container">
      <div class="text-block work-hero__descript">
        <h4 class="title4 work-hero__capture">
          Работы: Комплекс работ по&nbsp;строительству очистных сооружений
          производственных сто&shy;ков (промывочный СОЖ насыщенный
          мелкодисперсным кремнием), объёмом 700 м&sup3;/сутки, включающей
          в&nbsp;себя:
        </h4>
        <div class="desc1 text-block__desc">
          <ul>
            <li>
              проектирование (раздел &laquo;РД&raquo; (Рабочая документация));
            </li>
            <li>
              монтаж в&nbsp;существующем здании технологического оборудования;
            </li>
            <li>строительство сетей в&nbsp;здании;</li>
            <li>комплексные пусконаладочные работы;</li>
          </ul>
          <p>
            <b>Стадия работ: завершение&nbsp;ПНР.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
